[2013-05-11 10:36] Mikimoto opened #1 "2012 鏈結無效問題"
公關組反應：
2012 相關程式複製一份到 2012 folder, 但原始檔案請務必保留在根目錄, 防止 2012 過去的行銷連結都還是連到原始路徑.

大致上可以用 404 handler 接到一支在 /404_rdr.php, 404_rdr.php 拿 PHP_SELF 檢查 is_file(2012/{$PHP_SELF}.php), TRUE 就轉過去, 不然就丟到標準 404 頁面

[2013-05-11 10:42] cdchen commented on #1
Dears,

  可否請教是哪些「行銷連結」出了問題呢??

Mikimoto notifications@github.com 於 2013/5/11 下午6:36 寫道：

##

陳 永昇 (Cd Chen)
http://www.cdchen.idv.tw/
mailto:cdchen@cdchen.idv.tw
mailto:cdchen.tw@gmail.com
mailto:cdchen@me.com
msn:cdchen@cdchen.idv.tw
icq:3345768

[2013-05-14 12:48] Mikimoto commented on #1
聽說幾乎全部的頁面有有鏈結在外

[2013-05-14 13:43] cdchen commented on #1
Dears,

  您的意思是，外面的網站上，有咱們網頁的連結嗎??

  如果是這樣，就傷腦筋了~~

Mikimoto notifications@github.com 於 2013/5/14 下午8:48 寫道：

##

陳 永昇 (Cd Chen)
http://www.cdchen.idv.tw/
mailto:cdchen@cdchen.idv.tw
mailto:cdchen.tw@gmail.com
mailto:cdchen@me.com
msn:cdchen@cdchen.idv.tw
icq:3345768

[2013-06-06 21:12] Mikimoto commented on #1
我處理完了 :p

[2013-06-06 21:12] #1 closed, assigned to nobody

[2013-06-06 21:13] Mikimoto opened #2 "翻譯列造成排版問題"

[2013-06-06 21:14] Mikimoto opened #3 "2012 年花絮頁面不完整"

[2013-06-07 01:34] Mikimoto opened #4 "2013 頁面無法在 iPhone, iPad 上瀏覽"

[2013-06-07 01:42] #2 closed, assigned to nobody

[2013-06-07 02:45] cdchen opened #5 "Banner 圖檔有點大，要等約十秒才下載完畢"
FYI

[2013-06-07 03:15] Mikimoto commented on #5
Cd , 快點改

[2013-06-07 03:17] cdchen commented on #5
Dear, 報告，遵命!!

Mikimoto notifications@github.com 於 2013/6/7 上午11:15 寫道：

##

陳 永昇 (Cd Chen)
http://www.cdchen.idv.tw/
mailto:cdchen@cdchen.idv.tw
mailto:cdchen.tw@gmail.com
mailto:cdchen@me.com
msn:cdchen@cdchen.idv.tw
icq:3345768

[2013-06-07 03:24] cdchen commented on #5
報告是，馬上處理。

[2013-06-07 03:24] cdchen commented on #5
fixed.

[2013-06-07 03:24] #5 closed, assigned to cdchen

[2013-06-07 03:51] Mikimoto commented on #4
2012 的所有頁面都沒問題，但不知道為什麼 2013 的頁面卻不行

[2013-06-07 03:52] Mikimoto commented on #3
少了花絮圖片的 Link ?

[2013-06-07 09:02] jack168jack168 opened #6 "錯字"
因該是160位

[2013-06-07 10:58] Mikimoto commented on #6
頁面 Link 給一下

[2013-06-07 14:06] Mikimoto opened #7 "2012 年花絮的 irc log 出現亂碼"

[2013-06-07 15:32] ericpi opened #8 "bug report & suggestion"
all
1. FB 粉絲群不見了
2. 說好的 G+ "+1" 呢?
3. 其他->MOPCON 2012, 建議直接轉到花絮

index.php
1. 首頁三張照片圖檔太大
2. iPad mini Chrome版面沒問題, Android Browser/Chrome版面整個爛掉, 而且上方選單消失
3. 電腦上 browser 只要寬度小於 960px, 上方選單消失
4. 橫幅logo圖檔太大, 這種情況應該要考慮切圖排版, 而且這個設計其實不適合網站, 還不如之前測試那個藍底加 "I code, I spread I connect" 字樣適合各種設備看

social.php
1. CHK logo size 需要最佳化一下

2012/activity.php
1. 照片至少給個 G+ 那邊相簿網址: https://plus.google.com/b/1167682068

[2013-06-07 21:21] Mikimoto opened #9 "FB 粉絲群不見了"

[2013-06-07 21:22] Mikimoto opened #10 "說好的 G+ "+1" 呢?"

[2013-06-07 21:22] Mikimoto opened #11 "其他->MOPCON 2012, 建議直接轉到花絮"

[2013-06-07 21:23] Mikimoto opened #12 "首頁三張照片圖檔太大"

[2013-06-07 21:24] Mikimoto commented on #4
iPad mini Chrome版面沒問題, Android Browser/Chrome版面整個爛掉, 而且上方選單消失
電腦上 browser 只要寬度小於 960px, 上方選單消失

[2013-06-07 21:24] Mikimoto commented on #4
橫幅logo圖檔太大, 這種情況應該要考慮切圖排版, 而且這個設計其實不適合網站, 還不如之前測試那個藍底加 "I code, I spread I connect" 字樣適合各種設備看

[2013-06-07 21:25] Mikimoto opened #13 "社群頁面 CHK logo size 需要最佳化一下"

[2013-06-07 21:26] Mikimoto opened #14 "2012 年花絮工作人員的話"

[2013-06-07 21:26] Mikimoto commented on #8
拆散工作項目

[2013-06-07 21:26] #8 closed, assigned to nobody

[2013-06-07 22:39] Mikimoto commented on #4
由於第二版尚未套用 RWD 設計，就先把圖檔拿掉吧

[2013-06-07 22:42] Mikimoto commented on #11
修正完畢

[2013-06-07 22:42] #11 closed, assigned to nobody

[2013-06-08 01:14] Mikimoto commented on #7
需要將目前的文字檔整理為 html 格式

[2013-06-08 04:22] cdchen commented on #12
我領了!!

[2013-06-08 04:38] #12 closed, assigned to cdchen

[2013-06-08 04:46] Mikimoto opened #15 "add Twitter function"

[2013-06-08 09:30] Mikimoto commented on #3
照片整理已上，感謝 John Doe

[2013-06-08 10:24] Mikimoto commented on #3
其他工作事項切離

[2013-06-08 10:24] #3 closed, assigned to nobody

[2013-06-10 01:15] jserv opened #16 "避免 © 改用 "&copy;""
參考以下修改:

[code]

[2013-06-10 03:51] cdchen commented on #16
這個讓小弟來...

[2013-06-10 03:53] cdchen commented on #16
完成。小弟也只會這個...

[2013-06-10 03:53] #16 closed, assigned to cdchen

[2013-06-10 05:35] ericpi commented on #7
可以直接用 github 連結吧?
https://raw.github.com/chusiang/irc_log/master/mopcon/irc-mopcon-2012.log

[2013-06-10 17:45] weitsai commented on #13
我應該要去哪裡取得 logo 呢?

還是直接把 git 上的檔案下載下來然後進行尺寸修改

[2013-06-11 02:52] ericpi commented on #13
用 git 上檔案調整即可, 現在是圖片尺寸太大

[2013-06-11 03:47] ericpi commented on #6
首頁: MOPCON 2012 首度於高雄軟體園區舉辦，超過 "160 為" 移動式平台的軟、硬體開發人員與廠商與會

[2013-06-11 03:50] cdchen commented on #6
我領了。

[2013-06-11 03:51] cdchen commented on #6
我當了。

[2013-06-11 03:51] #6 closed, assigned to cdchen

[2013-06-11 03:52] cdchen commented on #13
webbert，要不要領這個 issue??

[2013-06-11 23:43] Mikimoto commented on #4
已修正

[2013-06-11 23:43] #4 closed, assigned to nobody

[2013-06-12 08:06] Mikimoto commented on #7
因為連結阿翔那邊的網站，他又常改版，Link 已經失效多次，我想說自己存一份吧

[2013-06-12 16:51] weitsai commented on #13
目前我將圖片改為 240 x 240，副檔名為 png，請問是這個問題嘛？

[2013-06-12 16:55] cdchen opened #17 "上了 FB Like 之後，版面輪子亂了"
![google chrome](https://f.cloud.github.com/assets/427313/643927/d7ac331a-d380-11e2-8188-b25415db3c08.png)

OS: MacOS X 10.8
Browser: Chrome 27

[2013-06-12 17:23] weitsai commented on #17
將CSS fb-lix box  的 TOP 拿掉即改善

[2013-06-12 17:29] cdchen commented on #17
我來處理好了，謝謝 Webbertsai，您是最棒的!!

[2013-06-13 01:59] ericpi commented on #7
應該不用改 html 格式, 強制用控制 content type 跟編碼就可以了.
header('Content-type: text/plain; charset=utf-8');
echo file_get_contents('OOXX.log);

[2013-06-13 06:27] ericpi opened #18 "KSDG wording & logo 更新"
![ksdg-logo-new_mopcon](https://f.cloud.github.com/assets/80681/647013/3380bf0a-d3f2-11e2-8dda-3be71e9e15bc.png)

Wording 如下:

Kaohsiung Software Developer Group 是高雄從事軟體開發、網路技術開發者一起交流的園地，2012/05首度聚會活動，目前每月舉辦 Meet-up 及 Web Course 各一場，交流主題涵蓋各種軟體技術，歡迎對軟體開發技術有興趣的朋友可以踴躍參與。

[2013-06-13 18:02] weitsai commented on #18
@ericpi 已更新 https://github.com/MOPCON/MOPCON/commit/053a355a29e0746615ee7ea44ee8f4ef01462e08

[2013-06-13 18:07] weitsai commented on #13
@Mikimoto https://github.com/MOPCON/MOPCON/commit/979c66c2ed3463a966e78db353cb85c3b82a4874

[2013-06-15 07:20] cdchen commented on #14
不好意思，請問是否有「工作人員的話之」內容呢？是否可以請2012的前輩們寫一下呢？

[2013-06-15 07:21] cdchen commented on #17
Fixed by webbertsai.

[2013-06-15 07:21] #17 closed, assigned to cdchen

[2013-06-15 07:36] cdchen opened #19 "首頁推薦改用 Shareit"

[2013-06-15 07:38] cdchen opened #20 "Copyright 壓深色色塊"

[2013-06-15 07:39] cdchen opened #21 "調首頁在 iPhone 上的 margin & padding"

[2013-06-15 08:09] z54362002 commented on #14
不好意思!!  我來

[2013-06-15 09:45] cdchen commented on #19
done.

[2013-06-15 09:46] #19 closed, assigned to cdchen

[2013-06-15 09:46] cdchen commented on #9
fix in #19.

[2013-06-15 09:46] #9 closed, assigned to Mikimoto

[2013-06-15 09:46] cdchen commented on #10
fix in #19 .

[2013-06-15 09:46] #10 closed, assigned to nobody

[2013-06-15 09:48] cdchen commented on #15
Twitter 是指 Share to Twitter 嗎?? 如果是的話， #19  已經修正這個 issue 了。若是已經修正完畢，麻煩 mikimoto 大大 close 這個 issue 吧!!

[2013-06-15 09:59] cdchen commented on #20
fix. 請檢查 features/issue-20，看看這樣穩定多了沒??

[2013-06-15 10:39] cdchen commented on #21
fixed.

[2013-06-15 10:39] #21 closed, assigned to cdchen

[2013-06-15 10:40] cdchen commented on #14
z54362002，我看過了，可以 merge 了。merge 後，麻煩您 close 這個 issue，謝謝!!

[2013-06-15 10:42] cdchen commented on #18
@webbertsai  2013 的部份，也要麻煩您 update 一下唷!!

[2013-06-15 10:44] cdchen commented on #13
@webbertsai  2013 年的部份，也麻煩您了，謝謝!!

[2013-06-15 10:45] cdchen opened #22 "調整首頁照片的視覺動線"

[2013-06-15 10:46] cdchen commented on #22
done.

[2013-06-15 10:46] #22 closed, assigned to nobody

[2013-06-15 13:24] #14 closed, assigned to nobody

[2013-06-15 13:36] cdchen commented on #14
你是最棒的！謝謝您了！

[2013-06-15 16:09] #13 closed, assigned to weitsai

[2013-06-15 16:09] #18 closed, assigned to weitsai

[2013-06-15 16:39] cdchen commented on #13
@webbertsai  辛苦啦，感謝您的付出，謝謝!!

[2013-06-15 16:40] cdchen commented on #18
@webbertsai  收到，您是最棒的，太厲害了!!

[2013-06-15 23:36] Mikimoto commented on #15
Close

[2013-06-15 23:36] #15 closed, assigned to nobody

[2013-06-15 23:38] Mikimoto opened #23 "首頁功能表的 [其他] 下拉選單有問題"

[2013-06-16 01:47] cdchen commented on #23
fix.

[2013-06-16 01:47] #23 closed, assigned to cdchen

[2013-06-16 01:51] cdchen commented on #7
這個 issue 還存在嗎?? 如果已經修復掉，麻煩兩位大大把這個 issue close 吧，謝啦!!

[2013-06-16 02:52] xup62j4 commented on #7
請問 http://test.mopcon.org/2012/day1.php 這隻程式放在哪個 branch 底下 ?

[2013-06-16 11:33] Mikimoto commented on #7
抱歉，在我 local 端，還沒修正好就先不上傳，等一下再上傳

[2013-06-16 13:29] Mikimoto commented on #7
暫時修正完畢，雖然我還是嫌太醜

[2013-06-16 13:29] #7 closed, assigned to Mikimoto

[2013-06-16 13:56] Mikimoto commented on #20
Closed

[2013-06-16 13:56] #20 closed, assigned to cdchen

[2013-06-16 23:10] Mikimoto opened #24 "官網的贊助按鈕加總好像有點問題"
剛剛看到他居然沒有把 FB 的數字加入？

[2013-06-16 23:16] Mikimoto opened #25 "RWD 網站架構與規劃"

[2013-06-17 01:58] ericpi opened #26 "社群頁面少了 KIMU"
http://mopcon.org/2013/social.php
webbertsai 的 branch 應該有正確內容, 被 merge 爛掉了...

[2013-06-17 02:00] ericpi opened #27 "贊助頁面有錯誤"
http://mopcon.org/2013/sponsor.php
1. 執行單位少了 KaLUG
2. KSDG logo 是舊的

[2013-06-17 02:03] ericpi opened #28 "首頁 FB/G+... 推薦數值錯誤"
應該是抓錯粉絲群/G+專頁, FB都已經超過 550 了, 官網顯示只有 43?

[2013-06-17 03:44] cdchen commented on #28
Duplicated with #24

[2013-06-17 03:44] #28 closed, assigned to nobody

[2013-06-17 03:45] cdchen commented on #24
這個問題，是因為我在首頁上抓的是 "http://mopcon.org" 的網址之按讚數，同樣的 G+ 也是抓 "http://mopcon.org"。所以，要改成「粉絲團」與「Google Page」的嗎??

[2013-06-17 08:51] ericpi commented on #24
我會比較建議用粉絲群跟 Google Page 的數字, 除非官網經營很成功有其他附加功能, 不然粉絲群跟 Google Page 流動率跟追蹤狀況會優於官網

[2013-06-17 09:08] cdchen commented on #24
現在有個問題，我用的那個 Plugin，僅支援單一個網址。換句話說，沒有辦法同時抓 Facebook Fans Page 與 Google Page 的 URL 做 Recommend。不知道兩位前輩有沒有什麼建議??

[2013-06-17 09:19] cdchen commented on #26
done.

[2013-06-17 09:19] #26 closed, assigned to cdchen

[2013-06-17 09:37] cdchen commented on #27
我先完成 Item 2 (KSDG Logo 是舊的) 這個問題。Item 1 的部份，目前仍缺乏 KaLUG 相關資訊，我新開一個 issue 好了。

[2013-06-17 09:37] #27 closed, assigned to cdchen

[2013-06-17 09:37] cdchen opened #29 "贊助頁面缺 KaLUG"
缺 KaLUG 下列東西：
1. Logo
2. Official URL.

麻煩請相關人員提供，謝謝!!

[2013-06-17 09:39] cdchen opened #30 "調整首頁的照片大小"

[2013-06-17 09:41] cdchen commented on #30
done.

[2013-06-17 09:41] #30 closed, assigned to nobody

[2013-06-17 09:51] ericpi opened #31 "KSDG logo 2012/2013 不同底色"
http://mopcon.org/2012/social.php
http://mopcon.org/2013/social.php

可能要麻煩都用白底比較好, 感謝.

[2013-06-17 09:56] ericpi commented on #29
1. logo 可以用官網(246x154)的來 resize: http://kalug.linux.org.tw/pmwiki/pub/skins/pmwiki/kalug_draft.png
2. KaLUG 官網: http://kalug.linux.org.tw/

[2013-06-17 10:02] cdchen commented on #31
這個我建議由美術組來做最後定奪。謝謝 @ericpi !!

[2013-06-17 10:10] cdchen commented on #29
fixed.

[2013-06-17 10:10] #29 closed, assigned to nobody

[2013-06-17 12:59] cdchen commented on #24
fixed.

[2013-06-17 12:59] #24 closed, assigned to cdchen

[2013-06-17 13:25] Mikimoto commented on #31
Donna 那邊說用白底

請用白底
理由一： KSDG灰底容易被忽略
理由二：MOSUT看起來跟其他logo不和

[2013-06-17 13:42] cdchen commented on #31
fixed.

[2013-06-17 13:42] #31 closed, assigned to nobody

[2013-06-17 16:47] Mikimoto opened #32 "2013 社群頁面的外框圓角與陰影不見了"

[2013-06-18 03:35] cdchen commented on #32
我已經改回 2012 版的風格了。但首頁的 container 也會是圓角，感覺上會有點突兀，不知道諸位大大有沒有什麼建議??

[2013-06-18 04:06] #32 closed, assigned to cdchen

[2013-06-18 04:07] Mikimoto opened #33 "2012 irc log Day2 log 仿照 Day1 進行 Formatter"

[2013-06-20 03:19] ericpi opened #34 "Social Network 網址列表及G+ 連結官網"
目前官網好像沒有地方揭露所有 SNS 網址? 是否首頁找個小區域(例如三個文字區塊的下緣)規劃一個 follow us 的連結區域呢?
FB: https://www.facebook.com/mopcon
G+: https://plus.google.com/116768206884057057248
Twitter: https://twitter.com/mopcon

另外 Google+ Page 要連結官網需要首頁任何一處放入以下程式碼, 所以可以跟以上一起規劃囉.
&lt;a href="https://plus.google.com/116768206884057057248" rel="publisher"&gt;Google+&lt;/a&gt;

[2013-06-20 03:21] cdchen commented on #34
如果有多個 SNS Link，小弟建議拿掉 Sharrre 這個 Plugin，另外自己寫。但，這無法在這一兩天時間內完成，因為最近這兩週小弟會比較忙... 誰願意跳下來的呢??

[2013-06-20 05:20] ericpi commented on #34
其實我覺得 Sharrre 跟 SNS 連結不衝突, 可以用以下方式置於右下角或是左下角文字區塊下方, eg:

![sns-sample](https://f.cloud.github.com/assets/80681/679447/d4c4f41e-d968-11e2-8b76-ccfecd6c5480.png)

[2013-07-10 11:21] Mikimoto opened #35 "更新官網 social.php MOSUT 介紹文字"
以下更新 MOPCON 的社群頁面，請參考以下與附件：

"""
MOSUT (Meet Open Source Users in Tainan)
是一群生活在台南、對資訊科技有熱情的朋友共同發起的聚會，關注開放標準/開放規格、自由軟體 /
開放原始碼，進而到開放硬體等議題，每兩周舉辦一次聚會，提供大學院校、公司團體，以及個人作技術討論交流的機會。
"""

[2013-07-10 11:28] #35 closed, assigned to nobody

[2013-07-19 03:54] evan3rd opened #36 "M娘 404 官網頁面"

[2013-07-19 03:55] evan3rd commented on #33
進行中

[2013-07-19 04:01] evan3rd opened #37 "Call for Paper 相關頁面"
Call for Paper 文件出爐，請上網頁，需要頁面介紹、Call for Paper 網址鏈結跟提供 Link 下載 CFP 文件

[2013-07-19 06:01] CQD commented on #36
所以原來的失蹤兒童就拿掉了...?

[2013-07-19 06:03] Mikimoto commented on #36
是的，麻煩囉

[2013-07-19 13:27] Mikimoto commented on #25
現在不適合處理，我們明年處理吧

[2013-07-19 13:27] #25 closed, assigned to CQD

[2013-07-20 01:11] Mikimoto opened #38 "MOPCON 文字轉播使用 Logbot 來做現場實況轉播"
類似這樣的效果

http://logbot.g0v.tw/channel/g0v.tw/today

套件應該是

https://github.com/dannvix/Logbot

[2013-07-21 17:51] CQD commented on #36
![2013-07-22 1 50 43](https://f.cloud.github.com/assets/94944/832069/22147fc2-f22e-11e2-9040-d852d401c094.png)

Done, 看起來大概是這種感覺...

[2013-07-22 01:08] evan3rd commented on #36
辛苦你了，我覺得很棒

看你是直接放到 develop 或你 push 到新的 branch 都可以

2013/7/22 CQD notifications@github.com

[2013-07-22 01:51] CQD commented on #36
先推到 develop 了

不過剛剛用另外一台機器開了一下，版面跑掉了。
看了一下似乎是原本 all.css 跟 bootstrap 不會被套用到頁面上，結果在某些情況下會被套到。

先上了一個 hotfix 讓版面不會跑掉，細節晚上回家來研究。

[2013-07-22 03:52] ericpi commented on #38
node.JS 版本的 irc bot:
https://github.com/draggor/node-ircbot
https://github.com/ktiedt/NodeJS-IRC-Bot

[2013-07-22 09:36] Mikimoto commented on #38
有沒有 Demo 可以看啊？

[2013-07-22 09:37] Mikimoto commented on #36
CQD++ , 很棒喔

[2013-07-22 09:38] Mikimoto opened #39 "官網加上活動地圖與交通資訊"

[2013-07-22 16:48] CQD commented on #36
因為 include head 裡面會套用 bootstarp 跟 all.css，但是 404 的 URL 下面不一定有，然後變成 all.css 的 404，自動 redirect 給 2012/ 下的 all.css

然後因為 404.php 一開始有送 html comment，所以有可能送出 302 redirect 也可能送不出來...

處理方法
- 讓 404 頁面不論有沒有被套用到 bootstrap 跟 all.css 看起來都差不多
- 拿掉 404.php 開頭的 html comment 換成 PHP comment，避免 redirect 失敗

改好推上 develop 了

[2013-07-23 08:59] #36 closed, assigned to CQD

[2013-07-23 09:40] #34 closed, assigned to xup62j4

[2013-07-23 10:28] ericpi opened #40 "Sharrre 的 G+ & Twitter 數字有問題"
G+ 已經 85, Twitter 已經 10, 但兩者都顯示 8,
要麻煩協助修正囉.

[2013-07-23 17:10] CQD commented on #37
cfp.php 以及 MOPCON-CallForPaper.pdf 推上 develop

Bootstrap-ish，應該還 OK...

[2013-07-23 17:12] CQD commented on #37
BTW，還沒放上 navbar，registrano 的報名連結還沒開放的樣子。

[2013-07-23 21:17] jserv commented on #37
Added myself for tracking CfP

[2013-07-24 15:04] CQD commented on #40
嗯...shareme 裡面的 URL 應該是 https://www.facebook.com/mopcon 還是 http://mopcon.org?

剛剛試了一下

https://www.facebook.com/mopcon 會是
8(G+) + 760(FB) + 8(Twitter) = 776

http://mopcon.org 會是
65(G+) + 70(FB) + 17(Twitter) = 152

[2013-07-24 15:27] CQD commented on #39
這個我認領

[2013-07-24 17:08] CQD commented on #39
done, 推到 develop 了

[2013-07-25 02:18] #39 closed, assigned to CQD

[2013-07-25 05:30] ericpi commented on #40
應該是 https://www.facebook.com/mopcon
不過... 有辦法抓成 65(G+) + 760(FB) + 17(Twitter) 嗎? :p

[2013-07-26 02:12] #33 closed, assigned to evan3rd

[2013-07-29 02:26] Mikimoto opened #41 "講者介紹頁面"
第一位講者資料已經寄出給組長

[2013-07-29 14:44] jserv commented on #37
PDF is not synchronized to the latest version so far.

[2013-07-31 03:20] evan3rd commented on #40
應該是無法解決了, 這裡決定換成其他套件

[2013-07-31 14:36] CQD commented on #37
文件更新了。

BTW，報名連結 http://registrano.com/events/MOPCON2013-cfp 有預定開放的時間嗎？

[2013-07-31 14:53] CQD commented on #37
Urr...pdf 裡面的 registrano 連結有問題，會連到 coscup 的 Call for Paper..

我用手上的 Mac 版 Word 存檔會有字變成方塊，有人方便幫忙解決的嗎？

[2013-08-01 05:29] Mikimoto commented on #37
我幫忙處理，另外也開一個 cfp 資料夾做 call for paper 文件同步

[2013-08-01 07:33] Mikimoto commented on #37
Eric 建議：
- 議程投稿頁面, tab會壓按在贊助頁
- cfp文件、registrano投稿頁面, 都請用開新頁面開啟
- 前往 http://registrano.com/events/MOPCON2013-cfp 投稿 ===> 建議用按鈕連結方式:
  <a class="btn btn-success btn-large" target="_blank">href="http://registrano.com/events/MOPCON2013-cfp">前往投稿</a>
- CFP部分建議美化一下, 可以用 CFS 同樣風格的 header/footer 色塊, 另外建議夾入一兩張 2012 活動圖

[2013-08-02 10:54] ericpi commented on #41
第二位講者資料也出來了, 能否先讓第一位講者資料上線?
我們希望每次上一位講者資料, 才有行銷操作空間.

[2013-08-02 11:09] Mikimoto commented on #37
上線

[2013-08-02 11:09] #37 closed, assigned to CQD

[2013-08-02 16:57] CQD commented on #41
加上講者介紹頁面了。雖然有點樸素...

[2013-08-07 00:00] Mikimoto opened #42 "iOS App、Android App 與 WP8 App 開發"
請 Review 完 App 跟我說

[2013-08-07 09:22] #40 closed

[2013-08-07 09:29] CQD opened #43 "favicon 沒有顯示出來"
網頁的 favicon 沒有顯示出來...

[2013-08-07 16:12] CQD commented on #43
OK 了，麻煩 deploy 一下

[2013-08-08 09:00] #43 closed, assigned to CQD

[2013-08-08 09:15] ericpi opened #44 "換新的 social plug-in 就沒辦法連到 FB & G+"
Twitter 還可以點數字連到 twitter, FB & G+ 完全只能按讚無法外連取得 FB粉絲群及G+ Pages 的新動態...

[2013-08-08 21:48] Mikimoto opened #45 "Social Plugin 中 Twitter 的泡泡視窗太短了"

[2013-08-09 01:38] evan3rd commented on #45
這裡要注意 1024x768 screen 會有折行的情形

[2013-08-09 04:23] ericpi commented on #44
這個 issue 可能要儘快改善, 目前官網跟 FB/G+ 定位不同, 官網只是宣告活動跟議程/交通公布, 活動籌備動態/行銷資料還是以 FB/G+為主, 因此能否儘快調整或是先改回原來版面方式.

[2013-08-13 01:50] chusiang commented on #38
coscup with Logbot.
- day1: http://logbot.g0v.tw/channel/coscup/2013-08-03
- day2: http://logbot.g0v.tw/channel/coscup/2013-08-03

by the way, 是否考慮把 Web IRC 整個嵌入 MOPCON 官方的網頁呢?
- [加入討論 | Ubuntu-TW](http://portal.ubuntu-tw.net/content/page/70634)
- [誰在聊天 | Ubuntu-TW](http://portal.ubuntu-tw.net/irclogs)

[2013-08-14 00:38] CQD commented on #45
看起來是當初想把泡泡中的「followers」字樣擋掉，不過因為是硬算寬度所以數字不一樣的時候可能後面的「f」會跑出來。

這個稍微麻煩一點， twitter 自己沒提供把這串字藏起來的做法。

今天晚上應該可以解決...

[2013-08-14 23:59] CQD commented on #45
一下拿不掉 followers 字樣，會踩到 same origin policy...

先讓 followers 能夠完整顯示出來，因為 twitter 區塊的長度變長所以調整一下版型把 twitter 放到最後面。
看起來比較不會那麼奇怪

[2013-08-18 01:25] jserv opened #46 "Call for Paper 頁面微調"
文字空白與標點的調整

[code]

[2013-08-18 01:39] jserv opened #47 "英文版 Call for Paper 頁面"
不確定是否有用，但有助於議程的工作，應該試試。

Translation for cfp.php:

Every session time slot at MOPCON is about 40 min (Q&A included), and here are the information entries for submitting speaking proposal:
- Name and/or nickname
- Contact information (email, cellphone number)
- Topic
- Abstract in 250 words
- Bio in 250 words

Please submit your speaking proposal before Sep 15, 2013, and the session committee will

[2013-08-18 07:06] CQD commented on #47
會有英文版的演講徵求書 PDF 跟 Registrano 連結嗎？

[2013-08-18 07:36] jserv commented on #47
英文 CfP PDF 待補，Registrano 內文會補上英文摘要

[2013-08-18 07:41] CQD opened #48 "網站要提供 session 的 json 給 App 們"
需要資訊
- Topic
- 講師
- 時間
- 地點（會議室）
- 類別（顏色？）

有沒有需要以下的資料？
- 議程摘要
- 相關 session
- 其他？

[2013-08-18 08:50] CQD opened #49 "官網做英文版"
- 首頁
- 贊助
- CFP（#47）
- 交通
- 議程(TBD)

其他的頁面先不做

[2013-08-18 17:35] CQD commented on #49
已完成
- 首頁
- CFP
- 交通

未完成
- 贊助
- 議程（還沒有）

先放在 feature/2013eng branch 裡面。

[2013-08-19 15:23] CQD commented on #49
done, 放到 develop 上了。

麻煩看哪位能幫忙 deploy 一下...

[2013-08-19 21:48] Mikimoto opened #50 "官網首頁應該放上 MOPCON 全名"
Mobile Open Platform Conference

[2013-08-19 21:50] Mikimoto commented on #45
好像暫時也只有這個方法

[2013-08-19 21:50] #45 closed

[2013-08-19 21:52] Mikimoto opened #51 "官網簡體、日文版"
看看明年是不是有機會往國際市場進軍 :p

[2013-08-20 00:53] CQD commented on #48
麻煩 deploy 一下 <(_ _)>

deploy 完成之後， session 資料的 url 會在這裡
http://mopcon.org/2013/api/session.php

格式如下:

[code]

[2013-08-20 00:55] CQD commented on #47
http://mopcon.org/2013/cfp_en.php

[2013-08-20 00:56] CQD commented on #50
放 footer 如何？

[2013-08-20 01:27] Mikimoto commented on #50
好像也可以

[2013-08-20 01:28] #47 closed, assigned to CQD

[2013-08-20 01:33] Mikimoto commented on #48
不錯，APP 做完之後也可以公佈 API 給其他人使用 ^^

[2013-08-20 01:33] #48 closed, assigned to CQD

[2013-08-20 01:38] Mikimoto opened #52 "官網提供 News 的 JSON"
大概包含：
1. 最後更新時間
2. 新聞標題
3. 新聞內容
4. 發佈單位

[2013-08-20 02:33] xup62j4 commented on #50
把全名放在 footer 的 Copyright 裡面，這樣可以嗎？

[2013-08-21 07:58] #44 closed

[2013-08-21 08:01] evan3rd commented on #46
調整完畢, 請 Jserv 檢查一下是否可以 close issue

[2013-08-21 08:07] jserv commented on #46
Thanks!

[2013-08-21 08:07] #46 closed, assigned to nobody

[2013-08-21 14:50] CQD commented on #52
新聞...有需要發佈界面之類的東西嗎 ?
還是要發的時候人工改內容就好

[2013-08-21 15:19] CQD commented on #51
這可能要花一些時間...現在的英文版是手動複製一份 code 出來跟原本的檔案放一起，簡體跟日文也這麼搞的話會很難維護[切腹]

要花一些時間整理一下 code 跟避免 link 死掉...

[2013-08-21 15:20] CQD commented on #50
阿，有人做掉了，跟我想的一樣 XD

[2013-08-22 01:10] #49 closed, assigned to CQD

[2013-08-22 02:21] Mikimoto commented on #52
先以人工修改方式進行吧，等到工作燈做得差不多了，我們再來思考要不要做後台 :p

[2013-08-22 15:59] CQD commented on #52
麻煩 deploy 一下 <(_ _)>

deploy 完成之後， 新聞資料的 url 會在這裡
http://mopcon.org/2013/api/news.php

格式如下:

[code]

[2013-09-02 06:23] ksdgroup commented on #41
還有 Kdan、KKBOX(四位講者) 資料都已經到很久了,
能跟議程追下資料嗎?

本週新聞又斷炊了 ＠＠

[2013-09-02 09:00] jserv commented on #41
Roger it.

[2013-09-03 00:19] Mikimoto commented on #41
新的講者出爐，請更新

[2013-09-03 04:47] ericpi commented on #41
剛剛寄出 KKBOX & Kdan 講者資料給 it, 也請 jserv  看下是否之前有收到這四位講者資料(8/26 e-mail).

[2013-09-03 06:47] ericpi commented on #41
rogery 是有照片的, 我回信了

[2013-09-03 06:49] ericpi opened #53 "講者頁面排版亂掉了..."
Chrome 講者卡間空隙消失導致有些地方會重疊到... Firefox則上上半部有空隙, 下半部重疊...
http://mopcon.org/2013/speakers.php

[2013-09-03 06:50] ericpi commented on #53
Firefox:
![firefox](https://f.cloud.github.com/assets/80681/1070804/0d92fd9a-1465-11e3-9cd1-e96a312ddbdb.png)

Chrome:
![chrome](https://f.cloud.github.com/assets/80681/1070805/15237814-1465-11e3-9c18-8bc6f89423a6.png)

[2013-09-03 10:53] CQD commented on #53
Resize 視窗會正常，Firefox 重新整理也會正常....

masonry 觸發時間點的問題？晚點來看看....

[2013-09-03 11:36] CQD commented on #53
果然，本機測不出來...回家丟到哪台機器上試看看。

[2013-09-03 16:43] CQD commented on #53
root cause 不確定，先用畫面載入後 0.3 秒重新計算物件高度的方式來避開...

[2013-09-05 00:27] Mikimoto commented on #41
建議一下，依據現有格式，每列三名，可以讓每一列都齊頭嗎？

如果有些講者簡介比較短，排版就顯得很凌亂

[2013-09-05 04:01] pcedison commented on #41
感覺目前的講者頁面排版，每位講者的資訊也都格式不一，是否經由一些微調後，可讓講者格式盡可能相同，這樣後續微調版面上應可改善一些。

[2013-09-07 18:50] jserv opened #54 "更新講者資訊: Sega"
Sega 日前宣佈新的服務: LIVEhouse，同時擔任 CEO。以下 patch 更新講者資訊：

[code]

[2013-09-08 00:25] Mikimoto commented on #54
處理完了

[2013-09-08 00:25] #54 closed, assigned to nobody

[2013-09-09 07:32] evan3rd commented on #52
目前由 session.php 所收下來 json 裡面會帶有各議程的 id 編號
編碼原則為

第一碼: 代表天數, 第一天為 1, 第二天為 2

第二碼: 代表場次時間, 共分為 0, 1, 2, 3
0為 9:00~10:00
1為 10:20~11:20
2為 13:30~14:40
3為 15:10~16:40

第三碼: 代表議程軌號, 分為 0, 1, 2, 表示第一軌到第三軌

ex:
id 100 為第一天9:00~10:00 的第一軌
id 222 為第二天13:30~14:40 的第三軌

[2013-09-09 09:14] Mikimoto opened #55 "聯絡我們 Email 修改"
目前網頁的「聯絡我們」中，Email 用 sponsor@mopcon.org，應改用 contact@

[2013-09-10 01:41] #50 closed, assigned to nobody

[2013-09-10 01:41] #55 closed, assigned to nobody

[2013-09-10 02:48] ericpi commented on #53
看起來好像好了

[2013-09-10 04:14] ericpi opened #56 "官網因應報名/議程改版"
1. 需要把報名資訊跟連結放到首頁最顯眼處, 請參見 http://mopcon.org/2012/
2. 需在 9/26 先把 session.php & registrano 連結準備好, 以便 SNS 預約9/28公告時段

[2013-09-10 04:15] ericpi opened #57 "官網首頁增加贊助商 logo 列表"
首頁下方增加贊助商 icon &  連結, 請參見 http://mopcon.org/2012/

[2013-09-11 13:55] Mikimoto opened #58 "在官網加上報名的倒數計時功能"
類似
http://challenge-taiwan.com/zh-TW

報名日期 9/28 20:00

[2013-09-11 14:27] CQD commented on #58
take

[2013-09-20 19:33] chusiang opened #59 "於「聯絡方式」加入 WebIRC?"
建議於「聯絡方式」頁面嵌入 WebIRC 的 iframe。
- [Site of Demo](http://portal.ubuntu-tw.net/content/page/70634)
- [Source code of Demo](https://github.com/chusiang/ubuntu-tw-website/blob/master/ircweb.html)

[2013-09-20 19:33] chusiang commented on #59
iframe

[code]

[2013-09-26 07:11] Mikimoto commented on #58
現在這個時間點應該不用了

[2013-09-26 07:11] #58 closed, assigned to CQD

[2013-09-26 07:11] Mikimoto commented on #51
明年規劃時討論

[2013-09-26 07:11] #51 closed, assigned to nobody

[2013-09-26 12:13] jserv opened #60 "KNY 演講更新"
Update:
- Speaker: "陳坤助 KNY" (全名)
- Topic: App 與 改變世界的力量
- Summary: 如何透過微小的 App ，獲得巨大的力量，進而改變世界

[2013-09-28 08:46] #57 closed, assigned to evan3rd

[2013-09-28 08:46] #56 closed, assigned to nobody

[2013-09-28 13:27] jserv opened #61 "10/27 15:30 的議程更新"
考量到 MOPCON 在無線通訊的完整度，我們在 Day 2 15:30 的三廳 (議程 C)追加一個議程：
- Topic: 有沒有那條線很重要嗎？
- Speaker: stanely

[2013-09-29 06:07] oh-shunki opened #62 "首頁 "其他" 標籤在 iOS 上無法進入子項目"
iPad 3rd gen with iOS 7

Safari 和 Chrome 點其他標籤時會彈出 "連絡我們" 和 "MOPCON 2012"，但是點擊以後框框消失，卻仍然停留在原網頁，沒有進入子項目。

[2013-09-29 08:21] jserv commented on #60
target link: http://mopcon.org/2013/speakers.php

[2013-09-29 08:21] #61 closed, assigned to nobody

[2013-10-02 00:54] #60 closed, assigned to nobody

[2013-10-02 13:14] Mikimoto opened #63 "請把目前議程簡表改版"
可以參考去年議程表

把成講者簡介、講題簡介、跟未來的 slide , 錄影可以結合的形式

[2013-10-03 07:18] xup62j4 commented on #63
請問 "講者簡介、講題簡介" 要參考哪份文件？

[2013-10-03 08:47] Mikimoto commented on #63
請參考 google doc 裡面 MOPCON/2013/議程表，統一在這裡維護

[2013-10-03 19:09] xup62j4 commented on #63
已修改第一日的議程表
內容還得請議程組協助

[2013-10-03 22:44] ezoengine commented on #63
好的，今日我就會校閱內容，謝謝

Marty
2013/10/4 上午3:09 於 "JohnDoe" notifications@github.com 寫道：

[2013-10-05 12:05] evan3rd commented on #63
這個修改應該開 feature
直接放到 develop 後，造成其他緊急修改 deploy 的困難

[2013-10-06 00:41] Mikimoto commented on #63
已經切 branch，新議程表請在 feature/newSessionTable 上發展

[2013-10-06 04:26] xup62j4 commented on #63
好的，瞭解！

[2013-10-08 12:59] #42 closed, assigned to nobody

[2013-10-11 09:20] Mikimoto opened #64 "新增一個頁面介紹三個App下載網址、QRCode"

[2013-10-14 07:47] Mikimoto commented on #63
目前進度如何？ 時間有點急迫了

[2013-10-14 08:32] xup62j4 commented on #63
已經在 feature/newSessionTable 上更新過新版的議程表
有請議程組看是否有問題需要做修改

[2013-10-15 04:02] #52 closed, assigned to nobody

[2013-10-18 11:04] Mikimoto commented on #62
測試過正常

[2013-10-18 11:04] #62 closed, assigned to nobody

[2013-10-18 11:19] Mikimoto commented on #63
已經先簡單改一個版本上 feature/SessionTable

[2013-10-18 11:35] Mikimoto commented on #41
全上結束這回合

[2013-10-18 11:35] #41 closed, assigned to CQD

[2013-10-18 13:15] ezoengine commented on #63
Hi,Mikimoto

回報問題,議程json資料還是沒更新

Marty
2013/10/18 下午7:19 於 "Mikimoto" notifications@github.com 寫道：

[2013-10-19 21:47] Mikimoto commented on #63
我先處理一部分了，先上架，確定 JSON 可以匯得出來
嶧城資料更新，請 Marty / Marcus 再巡一次吧

[2013-10-21 14:12] #63 closed, assigned to nobody

[2013-10-21 14:12] #64 closed, assigned to nobody

[2013-10-21 14:14] Mikimoto commented on #59
直接新增 IRC Web Link 取代

[2013-10-21 14:14] #59 closed, assigned to nobody

[2013-10-25 21:22] #38 closed, assigned to nobody

[2013-10-28 07:46] chusiang opened #65 "2012 首頁會連結至 2013"
在官網上方的選項中點擊 MOPCON 2012 會進入舊版的網站 (http://mopcon.org/2012/activity.php) ，這時就會發現 MOPCON 2012 Logo 的連結是連到 2013，不知這算不算是個 BUG?

[2014-02-03 07:40] CQD opened #66 "新的 2014 網站 template"
需求方向：
- Responsive Design
- 看起來好看有專業感

[2014-02-03 07:44] CQD opened #67 "研究怎麼直接把 Google Doc 的試算表資料轉換成 API 需要的 JSON 輸出"
目標：只要修改 Google Doc 上的試算表資料就能自動產出需要的 JSON

印象中 Google Docs 可以直接出 json，目前的想法是用這個 json 作為資料來源，然後再從 PHP 那邊吃進來以後轉成需要的格式再輸出新的 JSON

[2014-02-03 07:45] CQD opened #68 "把 2013 的議程影片放上網站"
就....把 2013 的議程影片放上網站...

[2014-02-03 07:47] CQD commented on #53
這個應該可以先關了...

[2014-02-03 07:47] #53 closed, assigned to nobody

[2014-02-03 07:56] CQD opened #69 "想想 l10n 怎麼作"
之前的搞法是每個頁面都 dup 一份，有點髒。可以想想怎麼搞

http://l20n.org/ 看起來好弄，不過對 SEO 似乎不是很健康。

這條是低優先權...

[2014-02-03 08:14] CQD opened #70 "確認 2014 的網站架構"
兩個方向：
- 用靜態網頁，例如用 [jekyll](http://jekyllrb.com/) 之類的東西編譯。
  - 應該網站可以弄的乾淨一點
  - 這樣開發麻煩一點，要先定好流程
  - 需要另外設定 server side hook 作 compile
  - 議程頁面不知道要怎麼作...
- 後端用 PHP
  - 需要找個 template engine ，不然改起來有點醜...
  - 應該不用額外 setup 什麼東西

個人是比較傾向用 PHP 然後找 template engine 來用，另外還可能要考慮 l10n （#69）...

[2014-02-03 08:16] CQD commented on #70
[Savant](http://phpsavant.com/docs/) 看起來不錯，沒什麼神奇功能不過 code 可以很乾淨...

[2014-02-03 08:28] CQD commented on #70
Savant 沒有取得輸出 string 的 function，要作 nested template 似乎會有點麻煩...不過應該可以自己包一個 function 來搞。

晚點來研究

[2014-02-03 08:34] CQD commented on #65
等下來改一下，2012/2013 的 logo 都是連到 http://mopcon.org

應該改成連到當年度首頁(例如 http://mopcon.org/2013/ )，然後在什麼地方加一個 http://mopcon.org

[2014-02-03 11:44] CQD commented on #65
fixed

[2014-02-03 11:44] #65 closed, assigned to nobody

[2014-02-03 12:39] CQD commented on #68
有幾個影片在 [youtube 頻道](http://www.youtube.com/user/mopcon2012)上沒看到，正常乎？
- 第一天
  - 半路
- 第二天
  - PTT
  - TonyQ
  - Evan Wu

[2014-02-04 06:08] jserv commented on #68
半路的議程謝絕錄音錄影，議程組提供文字紀錄

[2014-02-04 10:58] CQD commented on #67
[Simple example of retrieving JSON feeds from Spreadsheets Data API](https://developers.google.com/gdata/samples/spreadsheet_sample)

這頁有 Demo，不過的「Spreadsheets Data API 」連結會 404...

實際取資料的連結長這樣

後面的參數換成「alt=json-in-script&callback=myFunc」的話會丟 JSONP 回來。不知道 list 跟 cells 差在哪裡，沒仔細看..

[2014-02-04 13:53] xup62j4 opened #71 "2014 首頁 title 出現亂碼"
http://imgur.com/3Vef9Ob

如果瀏覽器以 Big5 編碼開啟 , 會出現亂碼

[2014-02-08 06:41] CQD commented on #71
這個是 utf-8，不應該讓瀏覽器用 big5 開 O_o

看了一下，meta 裡面沒設 charset，大概是這樣所以 opera 猜錯編碼了，來改。

[2014-02-17 14:59] CQD commented on #70
Wrong...其實有

[2014-02-27 09:36] CQD opened #72 "2013 的議程頁面，有放影片的 session 不能按展開"
http://mopcon.org/2013/session.php

用 dev toop 看 DOM tree 好像壞掉了，看 diff 看不出怎麼會這樣...

[2014-02-27 09:37] CQD commented on #71
如果沒其他類似問題就先關了...

[2014-02-27 09:37] #71 closed, assigned to nobody

[2014-02-27 09:38] CQD commented on #68
- PTT
- TonyQ
- Evan Wu

都上去了，感謝 eric 葛格

[2014-02-27 09:38] #68 closed, assigned to CQD

[2014-02-27 11:29] CQD opened #73 "透過 github webhook 來 deploy code"
想像做法是：
1. webhook 送 request
2. 準備一隻 php，收到 request 之後 pull code
   - 只在 push release branch 的時候 git pull
   - pull code 的動作要 async 的來做，不要卡到 web 端的 request
3. [加分] 有畫面可以看 deploy 進度，現在的版本...等等資訊

[2014-02-27 11:32] CQD commented on #73
www 帳號沒辦法 pull....[汗]

[2014-02-27 11:39] CQD commented on #73
我猜是 Permission denied

參考：
http://stackoverflow.com/questions/5144039

得把 user 加到某個可以寫 repo 路徑的群組裡面..

[2014-02-27 11:57] CQD commented on #73
同一隻 php，web 跑沒資料，用 web 身份透過 CLI 跑就有... 這不科學

[2014-02-27 12:13] CQD opened #74 "mopcon.org 的自定 404 出不來..."
http://mopcon.org/404

系統 404，不是 mopcon 娘

[2014-02-27 12:39] CQD commented on #74
Apache 設定，fixed...

[2014-02-27 12:39] #74 closed, assigned to nobody

[2014-02-27 16:59] CQD opened #75 "release 用的 branch 改名為 deploy"
release/2013 這名字不適合用在 2014

然後實測已經有 release/2013 話沒辦法改名為 release
所以改用 deploy...

[2014-02-27 17:42] CQD commented on #73
總而言之會動了，雖然不是 async 的

[2014-03-01 12:53] CQD commented on #73
結論
- 現在透過 github 的 webhook 戳 mopcon.org，然後系統再來 pull  code
  - 目前只拉 deploy 這個 branch
- 之前五分鐘 pull 一次的 cron 現在 disable 了
- 作的時候疑似踩到權限問題，要確保 web home 可以讓 web process 的帳號讀寫

[2014-03-01 12:53] #73 closed, assigned to nobody

[2014-03-01 12:54] CQD commented on #75
done

[2014-03-01 12:54] #75 closed, assigned to nobody

[2014-03-01 12:59] CQD commented on #72
真的是拔掉議程錄影那個 div 就會正常

[2014-03-01 13:34] CQD commented on #72
把 .agenda-title 從 <a> 改成 <div> 就會動，這樣我大概猜到原因了 =__=+

影片連結是個 <a>，不能被其他的 <a> 包起來，於是瀏覽器自己把 a.agenda-title 給切掉，切口在影片連結之前，然後 dom tree 就不對了....[暈]

[2014-03-01 13:42] #72 closed, assigned to nobody

[2014-03-01 13:43] CQD commented on #66
https://hackpad.com/Mopcon-the-first-Hackathon-MRgMeeUyUQb

[2014-03-01 13:44] CQD commented on #73
補充：
http://mopcon.org/adm/deploy_status.php
可以看到目前是哪個 commit 跟更新時間

[2014-03-09 16:17] CQD opened #78 "把 2013 的 slide 連結丟到網頁上"

[2014-03-12 16:46] CQD commented on #78
https://mopcon.hackpad.com/MOPCON-2013-Slides--jy4OpX1lTzV
這上面的都丟出去了，不過還欠不少

[2014-03-29 07:10] CQD opened #79 "整理 mailing list"
之前的 mailing list 會掉信

[2014-04-13 04:47] CQD opened #81 "聊天室"
需求
------------
- 不需要登入
- 可以設定名稱
- 網頁上可以用

可能做法
------------
1. 沿用 IRC
   - 網頁上不好整合
   - so geek...有好有壞
2. 找其他的 Chat Service
3. 自己刻 Chat Room
   - WebSocket Chatroom?

[2014-04-13 04:50] CQD commented on #81
http://socketo.me/

用 [React PHP](http://reactphp.org/) 刻的 WebSocket Library...或許可以在 AWS 上這樣跑。

[2014-04-13 15:50] CQD commented on #81
http://caniuse.com/#search=websocket

Android < 4.4 全滅...Android 的 Chrome 要測看看

[2014-04-13 15:53] sTinGe commented on #81
要不然就不要在 Android 上開聊天室?
(暗爽中...

[2014-04-13 17:55] CQD commented on #81
實驗了一下，在我的筆電上面可以撐 26x 個 connection，資源吃不兇，大概是踩到了什麼系統的 connection 限制。

不過多做幾次 CPU 使用量就飛起來了，大概有 leaking，真的用的話可能要一天重開一次之類的...

另，我的 OneX+ 開 Chrome 跟內建 browser 都會動，4.2.2...

[2014-04-15 03:11] CQD commented on #81
https://github.com/MOPCON/chat-php

成果先放在這邊，要找時間做壓測跟完善 client，現在 client 還沒有界面可以用，得開 dev console 控制。

然後 Android Chrome 開了聊天室以後就算螢幕關掉也能收到訊息...有點意外。

[2014-06-18 10:12] ericpi opened #82 "聯合新聞網連結更換"
2013 官網的聯合新聞網連結爛掉, 請協助更換為以下連結:
http://edn.udn.com/news/print.jsp?aid=674265&cid=47

[2014-06-18 10:13] ericpi opened #83 "2014 需要前兩年度連結"
類似 http://mopcon.org/2013/ 頁面的
其他->歷年活動

[2014-06-18 10:15] ericpi opened #84 "組長會議 #9 的 issues list"
1)『MOPCON』的字體太小+沒有放在畫面中央+與背景色相比，顏色對比度低 (顏色過暗問題?)。======> mobile 版本時, 以圖內Mopcon為中心切圖。圖的對比調一下。
2) 放上前兩年的官網連結
3) 可以多加一個「活動簡介」嗎？ ===> ericpi 我寫我寫...
4) 可以加上簡中版跟英文版嗎？ ===> 能先用 google translate?
5) 網站的交通資訊 捷運部分 個人認為"至捷運美麗島站換乘橘線往西"中的"往西"改成"往西子灣方向"
6) Mobile 版本選單按鈕要不要加上 "選單" 字樣
8) Mobile 版本舉辦時間/slogan字體太小問題 ===> 同 1. 處理方式
9) 臉書 Link 沒有顯示圖示，只顯示說明，這樣算正常嗎？
10) 贊助商Logo圖片尺寸?  512 x 512
11) twitter 跟 G+ 圖示/連結:

[2014-06-18 10:16] ericpi commented on #84
想確認一下官網 3) 大概要多少字? 或說最多可以塞多少字?

[2014-06-19 16:50] xup62j4 commented on #82
Done.

[2014-07-08 03:42] ericpi commented on #84
說好的週日 update 狀況如何呢?

[2014-07-15 04:10] CQD commented on #84
- 1,5,8,9,11,12 done
- 2 先放上歷年活動頁面的連結，歷年活動頁面調成跟 2014 同樣的 style，多層選單以 2014 的版型不太好搞..
- 4 google translate 的 code 不知道為什麼選單一直出不來，得從程式來處理。進行中
- 10 高度 192 px 以上，考慮到 retina 的話大一點好
- 6

[2014-07-27 07:06] gonsakon commented on #84
1)   已換mobile banner
3)   活動簡介字數就差不多和2013首頁即可
10) 贊助商Logo圖片尺寸至少 請廠商提供512 x 512以上

[2014-08-05 12:33] WanJen opened #85 "組長會議 #16 的 issues list"
(1) 首頁：PC版與Mobile版的圖片，顯示調整為不同。
PC版首頁圖
![banner](https://cloud.githubusercontent.com/assets/3149036/3811365/8e9263d0-1c9e-11e4-84dd-7bfd5f46c86d.png)
Mobile版首頁圖
![index-banner-retina](https://cloud.githubusercontent.com/assets/3149036/3811380/aac8d660-1c9e-11e4-95ed-d2b73fb83ed1.png)
目前待修正的首頁
![screenshot_2014-08-04-22-03-16](https://cloud.githubusercontent.com/assets/3149036/3811386/c58907cc-1c9e-

[2014-08-05 12:45] ericpi commented on #85
其實可以貼圖, 你要不要把 e-mail 的圖貼上來

[2014-08-05 15:14] CQD commented on #85
(1) 是前天更新 style 的時候有問題，先修正了
(4) 我現在一下沒辦法重現這狀況，大概跟(1)有關

(2) 是因為不同等級的贊助商的樣式不一樣。現在上線的贊助商不夠，看起來會怪怪的。

(3) 這個再來處理...

[2014-08-05 15:44] gonsakon commented on #85
(2) B 與(3)已修正，
(2)A與(2)C 等我拿到android社團簡介資料會再一次做上去

[2014-08-21 01:40] chusiang commented on #81
不知可否直接使用 g0v 的系統? :P
- [如何使用 IRC · g0v/dev Wiki](https://github.com/g0v/dev/wiki/%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8-IRC)

[2014-08-26 14:43] ericpi opened #86 "Community page 缺社群資料"
高雄前端:
https://www.facebook.com/groups/358503154261390/
logo:
https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1901401_743160355703612_766654300_n.jpg?oh=49dcdfc81cdcbb3789ce03ae56dbb002&oe=547DCF31&__gda__=1417781624_5282ff67325b105845cca80022d7685d

AKDG:
https://www.facebook.com/groups/1416205511963346/
logo: none

Mobile Girls:
https://www.facebook.com/mobilegirlsfans
logo:
https

[2014-08-26 14:44] ericpi opened #87 "404 page replace 2014 ver"

[2014-08-27 06:41] ericpi opened #88 "官網群募頁面"
可以許願有跟一樣的主文字+圖片內容, 以及轉址過去連結嗎?
https://www.flyingv.cc/project/2843

[2014-08-27 06:42] ericpi commented on #88
或者是哪邊可以塞 "支持我們" 的顯眼連結

[2014-08-27 07:28] gonsakon commented on #88
想到兩個方案，看是都做或者擇一

1.選單再多一個外連連結，叫做「群募」，另開連結連到flyingv
2.支持我們也可以放在「贊助」頁上面，開頭文案可改為：

「強力徵求贊助廠商，請快與我們（ sponsor [at] mopcon.org ）聯繫，
也極力歡迎各位到mopcon的flyingv群募頁面支持我們！」

[2014-09-02 15:09] ericpi commented on #88
兩個都很優啊, 可以都做嗎?
而且同類型問題, 可能馬上也會用到 KKTIX 報名/個人贊助票的官網顯示

[2014-09-10 07:33] ericpi opened #89 "新版官網文案調整"
- 第一段 "方向" 內文請協助更換為
  - 今年議程除了涵蓋以往 App開發、雲端服務、數位內容、創新營運四大主軸外，WWDC、Google I/O 兩大年度盛事聚焦的海量資料、穿戴式裝置、運動健康照護、家庭自動化、TV / 高畫質內容、簡化設計和開發流程等議題也都是重要行動應用的脈絡，豪華的講師陣容是 MOPCON 重要傳統，敬請期待完整議程公布！
- 最後一段 "報名資訊" 請協助更換為
  - 2013/10/26-27（六日兩天） => 2014/10/25-26（六日兩天）
  - 地點：高雄國際會議中心（ICCK）
  - 主題：App開發、雲端服務、數位內容、創新營運、海量資料、穿戴式裝置、運動健康照護、家庭自動化、TV / 高畫質內容、簡化設計和開發流程等最新行動應用趨勢 & 最夯的行動科技議題盡在 MOPCON，請密切注意[粉絲群](http://fb.me/mopc

[2014-09-10 13:30] gonsakon commented on #89
done
http://mopcon.org/2014_test/

[2014-09-10 13:30] #89 closed, assigned to nobody

[2014-09-19 12:35] CQD commented on #87
http://mopcon.org/404

done

[2014-09-19 12:35] #87 closed, assigned to nobody

[2014-09-19 12:37] CQD commented on #83
http://mopcon.org/history.html

done

[2014-09-19 12:37] #83 closed, assigned to CQD

[2014-09-19 12:37] #82 closed, assigned to CQD

[2014-10-06 09:08] ericpi opened #91 "請協助增加 KKTIX logo 到 "特別贊助""
請使用這張圖片, 並連結到 https://kktix.com
https://www.dropbox.com/s/1b7on4rm6manxr6/kktix.png?dl=0

=== 文案如下 ===
KKTIX 是線上音樂領導品牌 KKBOX 旗下的全功能售票購票平台。無論找活動、辦免費活動、辦售票活動、研討會、演唱會、大食團、郊遊踏青... KKTIX 線上售票平台都是您的好去處。KKTIX 提供最順暢的購票體驗、最方便的售票平台，以豐富活動點綴眾人生活。

[2014-10-06 15:23] gonsakon commented on #91
done

[2014-10-06 15:23] #91 closed, assigned to CQD

[2014-10-07 03:59] ericpi opened #92 "贊助商頁面增加媒體合作項目"
麻煩幫忙增加 PunNode 到媒體合作項目, logo 請選擇跟版型比較適合的囉
正方形 logo: https://www.dropbox.com/s/iwgrztzcyik6rjw/PunNode_s.png?dl=0
長方形 logo: https://www.dropbox.com/s/ub8f2655e8f0xq3/PunNode_w.png?dl=0

=== 文字簡介 ===
PunNode，聚焦亞洲科技與創業，親身投入參與、舉辦創業相關聚會及計劃。

報導台灣科技新創公司與國外最新的科技新聞、投資方向以及產業發展趨勢；特別關注以中國、日本、韓國、新加坡…等亞洲科技動態。期許做為國內重要的國際科技媒體代表，搭建起台灣通往世界的橋樑，並冀望協助打造台灣良好的產業鏈與生態系，建立具有台灣特色的開發、創業、科技圈。

與全台最大 App 專業評測網站 最棒app、全台最大科學網站

[2014-10-09 05:52] WanJen opened #93 "官網議程與講者更新 - AWS"
贊助商AWS的講者更新，資料如下，

(1) 10/25 10:40~11:20 三廳

A. 講者簡介

James Tien has been responsible for business development activities in Taiwan for the past 2.5 years since he joined AWS in May 2012. He helps enterprises of all sizes, SMBs and startups to leverage the benefits of the AWS cloud to accelerate their businesses. He enjoys seeing innovations enabled by the cloud. He enjoys seeing Taiwanese compani

[2014-10-09 07:44] ericpi commented on #92
我自己搞定了 xDDDD

[2014-10-09 07:44] #92 closed, assigned to CQD

[2014-10-09 07:45] ericpi commented on #88
現在看起來可以先不用了

[2014-10-09 07:45] #88 closed, assigned to nobody

[2014-10-09 07:45] ericpi commented on #86
都已經上了吧

[2014-10-09 07:45] #86 closed, assigned to nobody

[2014-10-09 08:09] WanJen opened #94 "官網議程與講者更新 - GitCafe"
贊助商GitCafe的議程與講者更新，資料如下，

(1) 10/25 上午(確切時間未定) Open Lab

A. 講者簡介

一個相信開放/ 自由/ 共享/ 創新可以讓人類變的更好的人類。以 Open Source Evangelist 為志業，參與並投入開源及技術社群活動的組織運營。從 2009 年起在中央研究院的自由軟體鑄造場研究開源授權、商業模式及社群經營，2013 年出任 JavaScript Developers Conference (JSDC) 2013 總召集人，並與 Ant Tzeng 共同創辦 BELP 社群。2014 年 2 月赴中國，加入上海東革志信息科技有限公司 GitCafe.com，擔任市場總監，並投入 Shanghai Linux User Group 的組織協調工作。對於中國及台灣的互聯網產業及技術社群運營又有更進一步的了解及心得。

B. 講者名稱

[2014-10-09 09:25] ericpi commented on #93
已經上線

[2014-10-09 09:25] #93 closed, assigned to nobody

[2014-10-10 01:28] CQD commented on #94
講者資料加上[強哥](http://mopcon.org/2014/speakers.php#legist)了，不過議程資料等時間確定在來加。

[2014-10-10 01:29] CQD commented on #81
是說看來是沒空弄完這東西...

[2014-10-10 01:29] CQD commented on #67
已經接上了

[2014-10-10 01:29] #67 closed, assigned to CQD

[2014-10-11 15:24] WanJen opened #95 "官網議程更新"
官網議程頁資料更新

(1) 10/25 08:45~09:00

A. 標題「ASUSCloud 贊助抽獎活動」中，「ASUSCloud」中間加入空格分開為「ASUS Cloud 贊助抽獎活動」。

B. ASUS Cloud的Logo換成彩色版圖片。

Logo資料夾：
https://drive.google.com/?usp=folder&authuser=0#folders/0B6DEnjQGak61QjFncFVFRVkzbTA

(2) 10/25 09:00~09:40

A. 講者照片換成講者本人，顯示範圍與手冊一致。

照片圖檔：
https://docs.google.com/file/d/0B3Sj2gsEx2VTVW01eU15Q2QwTmw5WkZPdVFUdElvVmJGZmtZ/edit

手冊圖檔：
https://www.dropbox.com/s/bu

[2014-10-11 17:45] CQD commented on #95
休息時間改成顯示一條棒棒

照片/logo 也改了。不過現在變成有的議程會連結到講者有的會連結到贊助商，要麻煩幫忙確認一下是不是資料都正常

[2014-10-11 17:46] CQD commented on #85
這邊的都完成了

[2014-10-11 17:46] #85 closed, assigned to CQD

[2014-10-11 17:50] #70 closed, assigned to CQD

[2014-10-11 17:50] #66 closed, assigned to nobody

[2014-10-11 17:51] #78 closed, assigned to nobody

[2014-10-16 16:48] chusiang opened #96 "Asus Clouad? Asus Cloud? 傻傻分不清楚"
在下在觀看 [2014 議程](http://mopcon.org/2014/session.php) 時發現有個奇怪的單字 **Clouad** 出現，便順手將其改成 **Cloud**，在此告知一下辛苦的志工們 :P

- https://github.com/MOPCON/MOPCON/commit/71c18c1afa129b8d7a78f2d42182375ef8aaffb2

[2014-10-16 17:46] chusiang commented on #95
看來 Asus Cloud 的資料有誤。
- https://github.com/MOPCON/MOPCON/issues/96

[2015-03-19 16:05] #96 closed

[2015-03-19 16:05] #95 closed

[2015-03-19 16:05] #84 closed

[2015-03-19 16:05] #81 closed

[2015-03-19 16:06] #94 closed

[2015-03-22 04:54] CQD opened #98 "2014 串接 FB 消息又爛了..."

[2015-03-22 04:55] CQD opened #99 "舊的網頁轉靜態"
大概會是手工進行...然後要考慮 seo

[2015-03-22 07:32] chusiang commented on #98
拍拍。

[2015-03-22 07:32] chusiang commented on #99
意思是得手工搬資料，寫死在 HTML 裡嗎？

[2015-03-23 04:57] maplenote commented on #99
是的，我今天會手動從原始碼存成 .html

[2015-03-23 05:43] chusiang commented on #99
這可是大工程啊，加油！

[2015-05-13 02:42] ericpi opened #100 "<許願> 2015 前導頁趕快先出來！"
as title

[2015-05-13 02:51] ericpi opened #101 "<許願> 每個議程獨立頁面"
今年可以每個議程獨立頁面嗎?

1) 裡面包含完整議程/講者 og 資訊, 這樣行銷上在 SNS比較好廣告
2) 底下可以接 disqus 或 FB social plug-in, 比較方便非 geek 參與者表達意見

[2015-05-13 02:53] Wcc723 commented on #100
Orz

[2015-05-13 02:53] ericpi commented on #100
主要是宣示還活著啊 :p

[2015-05-13 06:25] chusiang commented on #101
目前有打算用 markdown 來寫議程相關資訊，到時網站說不定可以直接 markdown?

[2015-09-11 02:23] Mikimoto opened #102 "2015 VIP 報名用圖"
![desktop](https://cloud.githubusercontent.com/assets/143029/9805729/19f9840a-586f-11e5-9670-cbd883fbd3be.png)

[2015-09-11 02:48] chusiang commented on #102
上圖的講者分別為：
1. Blue, Anistar Carl, Akane
2. Joe, Kny, Ben, Jeremy, Muki
3. SJ, TK, 張逸中, Sam

[2015-09-17 12:39] chusiang opened #103 "2015 議程表修正"
報到, Job Fair, Announcement, Lighting Talk 應像**午餐時間**的 style。

- Website: http://mopcon.org/2015/schedule.php
- Path: ./mopcon/2015/twig/schedule.twig

[2015-09-17 15:32] #103 closed

[2018-08-16 00:16] hashman opened #105 "將 2017 資料改為靜態"
避免 Google Spreadsheets 改動到而影響 2017 的資料

[2018-08-16 00:17] hashman opened #106 "將 mopcon.org 主機升級為 PHP7 的版本"

[2018-08-19 04:55] Jackson45252 opened #107 "售票頁面上線"

[2018-08-25 04:51] #79 closed

[2018-08-25 05:04] Jackson45252 opened #108 "Speaker 新增公司/單位欄位"
Speaker API 新增一個 company 儲存講者公司/單位

[2018-08-25 05:13] Jackson45252 opened #109 "Community 新增欄位, 異動欄位"
Community 新增

- id

異動

-  name 跟 name_info 改為 info & info_en
-  原本的 info 改為 fb_link & other_link ( googlesheet 有在加其他連結了)

[2018-08-25 05:17] Jackson45252 opened #110 "志工組織 Volunteer API 建立"
已新增至 google sheet
欄位包含
id
name
name_en
info
info_en
member_list

[2018-08-30 00:53] Jackson45252 opened #111 "API picture路徑修正"
增加 /2018 於 /assets 路徑前

[2018-08-30 00:53] #111 closed

[2018-08-30 14:57] chnbohwr commented on #110
Don't forget ReactMaker !!

[2018-09-01 03:42] Jackson45252 commented on #110
@chnbohwr 沒忘>"< 志工組織是指資訊組、美術組，主辦社群才有收錄到 ReactMaker

[2018-09-04 00:35] Jackson45252 commented on #110
已建立

[2018-09-04 00:35] #110 closed

[2018-09-04 00:37] Jackson45252 commented on #109
已完成新增、異動

[2018-09-04 00:38] Jackson45252 commented on #108
已成功新增

[2018-09-04 00:38] #108 closed

[2018-09-04 08:35] hashman opened #112 "協助將 asset 增加上 version"
由於今年開始將官網套用 CDN 進行使用，所以 asset 的使用上都需要注意必須要加上 version 如

[code]

CDN 會將 asset cache 起來，如果檔名一樣，優先使用 cdn 的 cache ，目前 default CDN cache 會保留 4 個小時，也就是說 4 個小時才會 renew 這個 cache ，這點再麻煩協助處理

[2018-09-11 15:35] bbandydd commented on #109
欄位缺少logo

[2018-09-11 15:38] bbandydd opened #113 "News api"
遺漏api

![2018-09-11 11 37 38](https://user-images.githubusercontent.com/11688424/45370847-af868100-b61b-11e8-9c29-bb7d2901614a.png)

[2018-09-11 15:39] bbandydd opened #114 "Carousel api"
遺漏api

![2018-09-11 11 39 06](https://user-images.githubusercontent.com/11688424/45370936-e2c91000-b61b-11e8-8c29-a45d8625e7fa.png)

[2018-09-16 01:49] Jackson45252 commented on #109
已新增

[2018-09-16 01:50] Jackson45252 commented on #114
已新增

[2018-09-16 16:36] #109 closed

[2018-09-18 03:21] bbandydd commented on #113
android completed

[2018-09-19 14:04] #113 closed

[2018-09-29 05:19] Jackson45252 opened #116 "題庫&攤位任務日期欄位調整成在一起"
date 部分不用區分，兩天都放在一起就好

[2018-09-29 05:21] Jackson45252 opened #117 "答題&任務獎勵欄位"
jacksonxu [11:00 AM]
那就是再做一個對應的獎勵列表麻??

Don [11:00 AM]
其實任務列表就可以存對應獎勵的資料了
實作面還是看你們方便
是感覺不用特別用一個表來記錄

可以在任務列表裡面同時存「答題」和「攤位」的任務，包括獎勵的欄位。
如果獎勵多少不適合丟出來給客戶端，就不顯示這個欄位就可以了～

jacksonxu [11:01 AM]
那就是還要加個欄位嚕?

Don [11:02 AM]
也可以不加，需要知道獎勵多少的地方看設計圖只有「答題成功」的時候呢
不加是指客戶端不一定需要知道喔～
我這邊只有列客戶端需要的東西
所以實作的部分你要問後端 看他是想要放在一起還是分一張表

[2018-09-29 14:07] uWayLu commented on #116
不用 date, 直接都塞在 items 裡面嗎?

[2018-10-22 00:28] hashman opened #128 "getSpeaker function 看起來有機會會拿到空的"
Error log:

[code]

https://github.com/MOPCON/MOPCON/blob/develop/2018/api/src/app/Models/MopConResource.php#L58

這邊有機會會拿到空的講者資料，可能要做一些判斷

[2019-02-05 05:43] hashman opened #134 "移除 Google plus 相關 icon"
4/2 就要移除這個產品：https://technews.tw/2019/02/01/good-bye-google-plus/

就將相關的 icon 都移除吧

[2019-03-18 00:46] #107 closed

[2019-03-18 00:46] hashman commented on #98
太久了就關掉囉

[2019-03-18 00:46] #98 closed

[2019-03-18 00:47] hashman commented on #99
先前的都已經完成了，剩下 2018 還沒轉，另外開票處理，謝謝

[2019-03-18 00:47] #99 closed

[2019-03-18 00:47] hashman commented on #100
太久了就關掉囉

[2019-03-18 00:47] #100 closed

[2019-03-18 00:47] hashman commented on #101
太久了就關掉囉

[2019-03-18 00:47] #101 closed

[2019-03-18 00:48] hashman commented on #102
太久了就關掉囉

[2019-03-18 00:48] #102 closed

[2019-03-18 00:52] hashman commented on #69
太久了就關掉囉

[2019-03-18 00:52] #69 closed

[2019-03-18 00:53] hashman commented on #117
舊的 feature 就不留了，新的 feature 今年再說了

[2019-03-18 00:53] #117 closed

[2019-03-18 00:53] hashman commented on #116
舊的 feature 就關掉了，新的 feature 今年再說

[2019-03-18 00:53] #116 closed

[2019-03-18 00:54] hashman opened #135 "將 2018 的資料改為靜態"
MOPCON 2018 官網內容是採用 Google Sheet 的表單作為資料來源轉換成 json 供網站作為資料來源使用
為了維持網站穩定性，希望將這個抓取線上 json 的行為轉換為 local file 進行讀取
麻煩協助將以下頁面更改為讀取靜態 json 使用

- [x] 議程頁面
- [x] 講者頁面
- [x] 贊助商頁面
- [x] 主辦社群
- [x] 志工
- [x] 最新消息

[2019-03-18 01:04] hashman opened #136 "移除不必要的檔案"
先整理一些應該不會使用到的東西，或是有用到就之後再重弄就好

## 後端
- [ ] .tmp/vendor
- [ ] 2014_test
- [ ] 2015_preview_1

## 前端
- [ ] bower.json
- [ ] google8bcd5019745af818.html

[2019-03-20 14:57] hashman commented on #106
完成升級 PHP72

[2019-03-20 14:57] #106 closed

[2019-04-12 23:22] hashman opened #139 "升級 mopcon.org 主機到 18.04"

[2019-04-19 14:40] hashman commented on #135
上面都完成了，可以幫忙評估 `api/src/app/Models/MopConResource.php` 這個是否可以移除？

[2019-04-19 14:43] hashman commented on #105
這個請 @duley666 有空幫忙檢查一下是否都完成了，謝謝

[2019-04-20 10:38] xwang0929 commented on #105
@hashman
有3支檔案還會向 google spreadsheet 要資料：

2017/javascript/vendor.js
2017/src/index.php
2017/live.php

需要我改嗎？

[2019-04-20 14:35] hashman commented on #105
@duley666
* 2017/live.php 可以砍掉了
* 2017/src/index.php 這個麻煩你調整了，但可以確認一下這個 function 還有沒有使用到，看起來應該是有機會拔除的

[code]

* 2017/javascript/vendor.js ? 這個好像是 js 的 asset 應該沒有使用到？

[2019-04-22 02:15] xwang0929 commented on #105
@hashman 請參照 pr #140

- live.php 砍了。
- getStream() 只有首頁跟直播頁有用到，目前只有換掉 api。如果"拔除"是指拿掉所有相關的程式，我再另外處理。
- vendor.js 裡的 getSpreadsheetData 只有在 badge.twig 用到，應該是2017年大地遊戲時用的，一樣換掉 api。

[2019-05-05 08:46] #105 closed

[2019-05-05 08:46] #128 closed

[2019-05-05 08:47] hashman commented on #134
這個給 @hsimao 試試看吧，有問題都可以提出，謝謝

[2019-05-05 08:48] hashman commented on #135
這個請 @Zames-Chang 幫我確認是否都完成了，謝謝

[2019-05-05 08:55] hashman commented on #136
前端給 @Tzuhui 後端給 @FWcloud916 試試看

[2019-05-06 01:16] hashman opened #141 "協助確認官網優化建議之內容"
https://docs.google.com/document/d/1VWIOx40rI5vVE3iWFXcZ9Z18rWX7ClO9eyyDsf2LkHk/edit

[2019-05-06 01:17] hashman opened #142 "協助規劃 CMS 講者 / 贊助商素材上傳頁面之規格"
前台實作票

- （講者）https://github.com/MOPCON/Equipment-management-system/issues/53
- （贊助商）https://github.com/MOPCON/Equipment-management-system/issues/54

[2019-05-06 01:38] Zames-Chang commented on #135
@hashman  評估過了，可以移除掉沒有問題，以下為評估方法
1 確認程式碼中有無使用 MopConResource
    僅 ApiController 有引入，但沒有實際使用他。
2 確認移除後網頁是否有問題
    沒有，跟原本長得一樣。

[2019-05-06 02:12] bbandydd opened #143 "建立App Center帳號，並將開發者加入專案"

[2019-05-06 02:16] bbandydd opened #144 "建立MOPCON IOS、Android開發者帳號"

[2019-05-06 02:16] bbandydd opened #145 "協助其他組成員 on board"

[2019-05-06 02:17] bbandydd opened #146 "協助確認跨組溝通方式"

[2019-05-06 02:17] bbandydd opened #147 "準備招集大地遊戲小組"

[2019-05-06 02:19] bbandydd opened #148 "官網問題確認完畢"

[2019-05-06 02:19] bbandydd opened #149 "蒐集 CMS 講者 / 贊助商資料上傳需求"

[2019-05-06 02:28] hashman commented on #135
@Zames-Chang ok 再開一個 PR 處理掉它，謝謝

[2019-05-06 02:32] #149 closed

[2019-05-06 02:32] #148 closed

[2019-05-07 01:51] hashman commented on #135
麻煩 @Zames-Chang 請至 https://dev.mopcon.org 進行確認，是否有問題，謝謝

[2019-05-07 01:55] Zames-Chang commented on #135
done 沒有問題

[2019-05-07 02:01] hashman commented on #135
Release 出去了

[2019-05-07 02:01] #135 closed

[2019-05-07 02:29] kaojane commented on #142
詢問一下大家意見：
1.若有字數限制的欄位，是否可再輸入時就顯示目前字數/上限字數？超過有個提示之類的
2.是否做簡易的會員系統？目前想到的是講者/贊助商有可能有更新修改/補充資料需求？
(或者若不做會員的話，每次填表完給一組uid，之後可以用來登入修改？)

[2019-05-07 12:44] hashman commented on #142
1. 可以做到沒問題
2. 我之前有個做法提議一下，因為要實作會員系統其實會比較麻煩一點，我在想可以產生一個 unique url 給廠商 / 講者與密碼，請他們在點選 url 的時候帶入密碼就可以使用，這樣就無需使用會員系統也可以達到保護

[2019-05-07 13:09] ghost commented on #134
hash組長～求救，我try了很久MOPCON專案還是運行不起來～我確定 composer 跟 laravel 都有安裝哩
我的步驟如下～不知是否哪裡做錯哩...

1.) 安裝 npm 相依插件: npm install
2.) 更新 composer: composer install
3.) 運行 laravel 環境: php artisan serve

之後就報錯了，說找不到 artisan ..

[2019-05-07 13:11] hashman commented on #134
他只是純的 PHP 專案，他不是 Laravel 專案唷，僅需要 1.2 即可，另外是你需要安裝 apache 軟體，把你的 php 專案 run 起來

[2019-05-07 13:12] ghost commented on #134
原來如此～～謝謝組長 好的我在來試試😂

[2019-05-07 13:13] hashman commented on #134
apache 軟體的話，如果是 Mac 可以安裝 MAMP 可以省不少功夫

[2019-05-07 13:14] ghost commented on #134
成功哩～～我剛好也是用MAMP成功運行哩～～

[2019-05-08 03:26] bbandydd opened #156 "申請iOS開發者帳號"

[2019-05-08 03:27] bbandydd opened #157 "申請Android開發者帳號"

[2019-05-08 03:27] bbandydd opened #158 "申請App Center帳號For資訊組"
- [ ] 建立iOS, Android專案
- [ ] 將開發者加入專案

[2019-05-08 03:29] #156 closed

[2019-05-08 03:29] #157 closed

[2019-05-08 03:29] #158 closed

[2019-05-08 13:46] hashman commented on #143
申請 gmail 完成，已私訊給 Andy

[2019-05-08 14:30] Tzuhui commented on #136
@hashman 有兩個問題想請問～
1. google8bcd5019745af818.html 這一個檔案似乎是和 Google 驗證有相關的
但內容不太確定與了解是什麼，所以想請問這個檔案是直接刪除就好了嗎？
2. 移除 bower.json 的部分，是連帶 gulpfile.js 中使用到 bower dependencies 的都要移除掉嗎？
想確定一下～～

[2019-05-08 14:34] hashman commented on #136
應該是沒問題，直接移除就好

如果確定 bower 沒有需要使用到那 gulpfile 中的相關程式也都可以一併移除，但需要先確定 bower 中 require 的幾個套件是否真的都可以被移除，或是可以採用別的方式 require

[2019-05-08 14:37] #134 closed

[2019-05-13 00:31] hashman commented on #144
Android 開發者帳號已經建立完畢且付費完成， iOS 尚無消息

[2019-05-13 14:12] FWcloud916 commented on #136
@hashman 請問2017年的檔案還會再重新編譯(更新)嗎?
如果不會 就可以將跟 gulp 有關的檔案刪掉 (./tmp/vendor , gulpfile.js )

[2019-05-13 14:43] hashman commented on #144
Android APP 預計明天下午 miki 會進行移轉， iOS 的部分與 Keith 討論，還是等一下鄧白氏好了，依照蘋果官網的說明

If you are an individual or sole proprietor/single person business, your personal legal name will be listed as the seller on the App Store. Do not enter an alias, nickname, or company name as your first or last name, as entering your legal name incorrectly will cause a delay in the approval of your enrollment.

If you are a dev

[2019-05-13 15:16] hashman commented on #136
@FWcloud916 不會唷

[2019-05-15 01:51] #143 closed

[2019-05-16 11:33] #136 closed

[2019-05-17 16:03] bbandydd opened #161 "協助Android APP 重新上架"

[2019-05-17 22:52] hashman commented on #146
這張我轉到 Sprint 2 我繼續觀察這次設計與 web 前端合作的狀況

[2019-05-17 22:53] hashman commented on #145
這部分 ok 了

[2019-05-17 22:53] #145 closed

[2019-05-17 22:59] hashman commented on #144
Android 已經完成了， iOS 鄧白氏電話驗證已經通過了，但他們說大概要等 2-4 週才會好... 只能等了

[2019-05-17 22:59] hashman commented on #161
這個是不是要嘗試拿一個新的版本重推試試看？

[2019-05-17 23:01] hashman commented on #141
Sprint 2 繼續更新， @kaojane 記得 issue 這邊也要 update 狀況唷

[2019-05-17 23:02] hashman commented on #142
Sprint 2 繼續更新， @kaojane 記得 issue 這邊也要 update 狀況唷

這部分應該是可以先請前端開始設計了

[2019-05-20 02:43] bbandydd commented on #161
嗯嗯，我想透過AppCenter上一版更新試試

[2019-05-20 15:37] kaojane commented on #142
目前進度：
1.前台需求文件
https://docs.google.com/document/d/1vdx2N52TuFyNiZZ64fLH9C353QX5VBVWOEb5_FbT-Ug/edit
議程組剩譯成TAG未確認(95%) / 贊助組確認中
2.後臺需求文件
先開立，內容待補
https://docs.google.com/document/d/1vBKg3qV4E5LjD0S9QPYoG1jKCw-O8eCAglO80plJ094/edit

[2019-05-20 23:33] hashman commented on #142
ok 剛剛有將權限開給兩位前端了，等候兩位回應，先處理前台的部分，後台的文件再麻煩規劃了，謝謝

[2019-05-24 14:19] kaojane commented on #142
https://docs.google.com/document/d/1vBKg3qV4E5LjD0S9QPYoG1jKCw-O8eCAglO80plJ094/edit
後台新增講者部分，目前想法如文件~~請hash幫忙看一下

[2019-05-31 13:29] hashman commented on #147
文件已經產出，這個就交給總召組繼續囉

https://docs.google.com/document/d/1vCk-4GVVhf1CahiLC520qQ4sWptNvt7uzOlYaOJZTzY/edit

[2019-05-31 13:29] #147 closed

[2019-06-03 01:45] kaojane commented on #141
5/5 官網改良會議紀錄：
Q1首頁資訊不明確、缺少banner =>加入LOGO.標語.時間地點等元素 =>Resolve
Q2購票入口不清楚=>購票的按鈕可以用個不同色的button凸顯，加上右側懸浮的購票捷徑 =>Resolve
Q3分頁太多=>重新調整選單結構，待釐清今年要放的項目後陸續討論，例如加入周邊資訊等... 主標希望7個內  )
Q4講者資訊未有獨立連結=>目前有做不同參數的連結，可再加入左右切換紐=>Resolve
Q5相同公司下的相關資訊零散=>參考贊助wireframe頁面 可解決  =>Resolve
Q6網頁footer (底部資訊) 並未清楚提供媒體聯繫、活動贊助聯絡窗口=>
信箱改成統一contact@mopcon.org (文字+連結) 由行政組分派 其他可配合具體經營社群 =>Resolve
Q7MOPCON文章分享、相關資訊分散=> 改成以FB訊息為主

[2019-06-17 01:26] hashman commented on #141
Hi @kaojane 這個 issue 還有任何的 update 嗎？或是可以將這個 issue close 呢？

[2019-06-17 01:35] hashman commented on #142
我確認一下兩位後端工程師的狀況，如果沒問題，這個 issue 我覺得可以先 close 了

[2019-06-17 01:37] hashman commented on #144
iOS 我看這個禮拜會不會有什麼進展，我這個禮拜會窮追猛打...

[2019-06-17 02:04] kaojane commented on #141
好的 可以close了 不過我帳號好像沒有出現close按鈕只能留comment 囧

[2019-06-17 02:08] hashman commented on #141
沒關係，我來關就好，謝謝

[2019-06-17 02:08] #141 closed

[2019-06-17 15:13] hashman commented on #142
兩位後端工程師表示沒問題，就把這個 issue close 了

[2019-06-17 15:13] #142 closed

[2019-06-20 13:16] kaojane opened #162 "確認 Mopcon 2019 主辦社群資訊"
確認Mopcon2019主辦社群
是否與2018組織相同
https://mopcon.org/2018/community.php
或有增減

----

今年將參與年會工作的社群分為兩種：主辦社群、參與社群

定義社群角色：
===========
1. Organizer: 社群主要招集、規劃、創辦者
2. Co-Organizer: 社群共同規劃、創辦、招集者
4. 核心成員：社群的角度為 Organizer 與 Co-Organizer ，以 MOPCON 的角度為組長與副組長
3. 志工：有參與這個社群、研討會的志工即可（非參加者）
4. 參加者：參與社群活動者

定義主辦社群：
===========
1. 社群的核心成員有擔任 MOPCON 的核心成員者（組長、副組長、議程委員）
2. 社群志工有參與 MOPCON 志工團隊至少 3 人
3. 吻合上述者可被列名在 MOPC

[2019-07-01 01:12] hashman opened #164 "確認 MOPCON 2019 官網語系切換的方式"
過往是透過 https://mopcon.org/2019?lang=zh/en 來進行語系的設定，並且將設定語系存在 Cookie 中，此外 API 所提供的內容也是不分中英文全丟給給 Client 讓 Client 進行判斷

2019 開始，我們已經走向前後端分離的架構，後端僅提供 API 給 APP / Web 進行使用，語系的控制方式可能要調整一下，以下提供幾個做法

1. 保持原狀， API 提供所有的欄位讓 Client 自行判斷，語言檔也是放在 Client 存放
2. API 提供相對語系的語言檔，除了 API 資料的語系將會由 Client 指定語系請後端提供，另外 Client 上所呈現的文字也由後端提供字典檔（當然 Client 可以做 Cache 不用每次都跟 Server 要）

會提出 2 主要有幾個原因
1. 讓 APP 方便，過往語言檔在 APP 上如果要

[2019-07-01 01:16] hashman opened #165 "協助建立官網 API project"
如昨天會議提到， 2019 年官網開始改為使用前後端分離的架構，前端為 Nuxt 的架構，後端為 Lumen 的架構

需要透過 `.htaccess` 的幫忙協助進行 rewrite

這個請 @Zames-Chang 幫忙處理，先放上 Lumen 的主體與測試 endpoint 即可，架構先弄出來就好

也請 @xwang0929 協助指導，謝謝幫忙

[2019-07-01 01:42] hashman commented on #144
iOS Sprint 4 沒有移轉成功，繼續追殺中...

[2019-07-01 01:43] hashman commented on #144
@bbandydd 我們先訂 7/8 如果沒有任何消息就請 iOS 那邊自行上架了？

[2019-07-01 01:45] bbandydd commented on #144
@hashman ok, 另外這週UI沒提供的話，APP就先休息了，看了一下定版的大地遊戲沒特別功能要研究

[2019-07-01 01:45] hashman commented on #144
能否問一下 @kaojane 請他幫忙追蹤一下狀況？謝謝

[2019-07-01 01:46] hashman commented on #161
@bbandydd 這張 issue 幫忙更新一下，謝謝

[2019-07-01 01:52] hashman opened #166 "協助開發 Facebook 粉絲專頁最新動態 API"
目前於 #163 首頁抓取 Facebook Fan Page 最新動態是使用 https://www.juicer.io 來達成，如 https://github.com/MOPCON/MOPCON/pull/163#pullrequestreview-256056606 這邊說明，希望還是使用自行開發的元件來進行使用

這邊需要後端協助研究 Facebook API 來進行取得資料轉送給前端進行使用

這個也先掛給 Zames 有問題可以隨時討論

[2019-07-01 01:53] hashman commented on #166
@Zames-Chang Sprint 5 先以研究為主， Sprint 6 再進行開發，或是再看看情況調整，謝謝

[2019-07-05 09:07] Zames-Chang commented on #166
我剛剛研究了一下 Facebook Api，他們那邊如果要讀取粉絲專頁的公開po文必須要申請他們的facebook developer 的帳戶，且透過這個帳戶去申請可以存取粉絲專頁公開資料的權限（審核日約5天)。

過程挺麻煩的，要滿足這個網站說的所有條件
[facebook 認證](https://developers.facebook.com/docs/apps/review)

沒有申請到的話，好像不能隨意存取粉專的公開貼文。

@hashman

[2019-07-05 10:03] hashman commented on #166
幫我看一下這個可不可以，但直覺不行，但我還沒看 source code

https://rsshub.app/facebook/page/mopcon

https://github.com/DIYgod/RSSHub

[2019-07-05 10:40] Zames-Chang commented on #166
ok 我研究看看

[2019-07-06 03:45] Zames-Chang commented on #166
我用單純擷取html的方式，看起來沒辦法拿到資料，研究了一下發現說他前端的貼文好像是進去之後再透過js去render出來的，不是一開始get的時候就傳過來。

那後來我又有想說那我用 selenium 之類的東西等他render完再去抓他的資料好了，但是這樣又有一些問題
1. 很髒，其實根本不知道每台電腦要等他render多久才去抓資料下來
2. 我發現他抓下來的資料跟我自己用chrome console的結果不一樣orz（這部分可能是我自己程式寫錯還在看是啥問題）

[2019-07-06 03:48] bbandydd commented on #166
是要從fb 粉絲專頁抓文章透過api給前端的意思嗎？？

[2019-07-06 04:45] Zames-Chang commented on #166
Yes

[2019-07-06 06:24] hashman commented on #166
這塊有點搞剛，我們先 pending 好了，我希望可以先規劃其他頁面的 API 讓 APP / 前端可以先串接了

[2019-07-06 06:50] hashman commented on #164
請各位上來這邊 comment 提供意見與想法，謝謝

[2019-07-06 06:52] hashman commented on #144
應該算完成了，麻煩 @bbandydd 幫我看可否關掉了，謝謝

[2019-07-06 06:57] hashman commented on #162
目前調查起來只有四個主辦社群一個參與社群

# 主辦社群

- GDG Cloud Kaohsiung
  - Organizer: Hash （資訊組組長）, Dada （場務組組長）, Puck （場務組組長）
  - 志工： UnciaX （場務組副組長）, Yuuna （場務組物流股股長）, 張景雲（資訊組組員）
- Kaohsiung Python User Group
  - Organizer: Victor （議程委員）, 品陞（副總召）
  - 志工： Terence Huang （議程委員）
- Python 量化投資
  - Organizer: Victor （議程委員）, 品陞（副總召）
  - 志工：培智（議程組副組長）
- ReactMaker
  - Organizer: Andy （資訊組副組長）, Hyman （資訊組組員）
  - 志工： Giant

[2019-07-06 07:01] xwang0929 commented on #164
2

[2019-07-06 07:01] Wuchiwei commented on #164
2

[2019-07-06 07:02] bbandydd commented on #162
ReactMaker算嗎？
Andy, Hyman, Giant參與Mopcon

[2019-07-06 07:03] hashman commented on #162
算，我來補

[2019-07-06 07:03] bbandydd commented on #164
2

[2019-07-06 07:03] ghost commented on #164
2

[2019-07-06 07:13] #161 closed

[2019-07-06 07:22] hashman opened #170 "規劃 / 製作 主辦社群與參與社群 API"
目前設計那邊還在處理，等設計出來後就可以先開 API 出來了

設計圖：
- [主辦社群電腦版畫面](https://d.pr/i/7NMw54)
- [主辦社群手機版畫面](https://d.pr/i/RPYaQX)
- [主辦社群元件說明書](https://d.pr/i/6BxsJj)

[2019-07-06 07:23] hashman opened #171 "規劃 / 製作 贊助商頁面 API"
贊助商列表
https://drive.google.com/open?id=1JrI1eEo6cC0lRKRFq4aq-hPso9lEwxv8
贊助商資訊
https://drive.google.com/open?id=16pBlm_4-aiVeh8YFjiNjcclnWFmwrP1b

https://d.pr/i/ZaQ5m2

(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-06 07:23] hashman opened #172 "規劃 / 製作 講者頁面 API"

[2019-07-06 07:24] hashman opened #173 "規劃 / 製作議程表 API"

[2019-07-07 01:49] keith222 commented on #164
2

[2019-07-07 08:16] Tzuhui commented on #164
2

[2019-07-07 08:16] FWcloud916 commented on #164
2

[2019-07-07 08:58] Zames-Chang commented on #164
2

[2019-07-07 09:40] chnbohwr commented on #164
2

[2019-07-08 06:04] kaojane opened #176 "增加網站meta描述與FB分享圖"
增加如下
``
<meta name="description" content="MOPCON 2019 堅持濁水溪以南，南台灣最大行動科技年會，10/19-10/20 高雄國際會議中心與您見面。持續匯集知識與人才，打造高速資訊交流圈，提升個人與團隊價值，讓知識影響正向循環。" />
<meta property="og:description" content="MOPCON 2019 堅持濁水溪以南，南台灣最大行動科技年會，10/19-10/20 高雄國際會議中心與您見面。持續匯集知識與人才，打造高速資訊交流圈，提升個人與團隊價值，讓知識影響正向循環。" />
<meta property="og:image" content="圖片網址" />
``
圖片請使用以下這張圖片
https://drive.google.com/drive/folders/1WU7JCtjNWCZ_t9

[2019-07-08 11:58] hashman commented on #176
Reference MR: https://github.com/MOPCON/MOPCON/pull/177

[2019-07-08 11:59] hashman commented on #176
@kaojane 推上去了，幫我驗證一下，謝謝

https://dev.mopcon.org/2019/

[2019-07-08 14:24] kaojane commented on #176
OK
雖然圖片好像不是我原本傳這張XD
不過更好看一點~

[2019-07-08 14:24] #176 closed

[2019-07-11 01:15] hashman opened #179 "幫忙在 2019 的官網補上 GA 追蹤"
詳細可以參考下方 js code

[code]

[2019-07-11 01:16] hashman commented on #179
請 @hsimao 幫忙，謝謝

[2019-07-11 01:26] xwang0929 commented on #179
@hashman

這個 ga 的版本好舊，不考慮換一下新的 gtag？ 另外下面這段多了 "\\"
`var _gaq = _gaq \|\| [];`

[2019-07-11 01:27] hashman commented on #179
其實主要是貼 account 跟 domain xDD ，然後目標可以寫到 GA 紀錄就好

[2019-07-14 07:56] ofafa commented on #162
高雄敏捷應該也算？ Hermes(議程委員)、Gobby(副召)、Scarlett(美術組長)
HPX今年不知道有沒有志工參與就是了

[2019-07-14 08:00] hashman commented on #162
@ofafa 可以算呀，但他們沒有提出所以就沒有寫到了，照上面看起來應該是 ok 的

[2019-07-14 08:06] ofafa commented on #162
好 HPX我問Egg看看

[2019-07-14 10:04] ofafa commented on #162
核心成員：社群的角度為 Organizer 與 Co-Organizer ，以 MOPCON 的角度為組長與副組長、`議程委員`

[2019-07-14 12:39] hashman commented on #162
ok 我補上去了，名單就這先先提交，之後如果有要新增的話再上 patch 就好

[2019-07-14 12:39] #162 closed

[2019-07-14 14:40] #144 closed

[2019-07-14 14:41] #179 closed

[2019-07-14 14:44] hashman opened #184 "首頁 Facebook 動態改接 API"
等候 #166 完成後將前端改接 API 呈現

[2019-07-14 14:46] hashman commented on #164
這部分看起來大家都有共識了，之後就麻煩 APP team 的朋友依照功能開需求給 Web team 的朋友來增加 APi 謝謝

[2019-07-14 14:46] #164 closed

[2019-07-14 14:47] #165 closed

[2019-07-15 05:40] Zames-Chang commented on #166
@hashman  我已經根據你的要求做修改了，麻煩你再看一下
[#181 ](https://github.com/MOPCON/MOPCON/pull/181)

[2019-07-18 00:33] hashman commented on #166
Hello @Zames-Chang 目前前端在 #185 上面進行串接，在需求上希望可以在 api 上面多露出幾個資訊

1. 按讚人數
2. 分享人數
3. 回傳 url 讓前端可以連結過去

以上請 Zames 幫忙研究可否做到，謝謝

[2019-07-18 06:30] Zames-Chang commented on #166
我研究過了，都可以做到
1. 按讚人數(單純按讚人數我可以做到，但是因為fb現在不只有讚還有haha 等其他表情，我有試著把所有情緒的資料調出來看看但沒實驗成功，但是單純按讚人數的話是ok的。)
2. 分享人數(OK)
3. 回傳 url 讓前端可以連結過去(OK)

[2019-07-18 07:46] hashman commented on #166
ok 直接 go 吧

[2019-07-19 12:07] hashman commented on #184
@hsimao #187 merge 囉，再麻煩你幫忙了，謝謝

[2019-07-22 15:00] hashman commented on #170
Hello @FWcloud916 @hsimao 這個 issue 就麻煩兩位幫忙處理了

詳細畫面可以參考 [PDF](https://drive.google.com/file/d/1vjYBoOcqhxOZr3CWxlrCdY-5P8VtHP7T/view) 來規劃

後端需要開出 API 讓前端與 APP 進行串接

有問題隨時可以 comment 在這邊

[2019-07-23 14:32] hashman opened #189 "後端 API 開發流程"
# 目標

開此 issue 主要目的為傳達後端建構 API Document 之流程，讓 PM / 工程師可已有更為順暢的流程之外，也讓後端工程師 / 前端工程師 / APP 工程師溝通起來更為流暢

# 工作流程說明

1. 請 PM / 組長協助將設計師已經設計完成的畫面截圖開 issue ，將此 issue assign 給 @hashman 進行需求確認
2. 確認需求沒問題將 issue assign 給後端工程師進行規劃與開發
3. 工程師規劃時可以參考此 [PR](https://github.com/MOPCON/Equipment-management-system/pull/98) 之內容進行 API Spec 規劃
4. 撰寫出 API Spec 給前端 / APP 確認是否有問題
5. 開始開發 API ，開發不一定要完整開發完成，若時程上有壓力可以先開出 moc

[2019-07-24 00:56] xwang0929 commented on #189
ok

[2019-07-24 02:03] FWcloud916 commented on #189
ok

[2019-07-24 04:27] Wuchiwei commented on #189
ok

[2019-07-24 11:08] kaojane commented on #189
OK

[2019-07-24 13:56] keith222 commented on #189
ok

[2019-07-25 01:11] Tzuhui commented on #189
ok

[2019-07-25 01:45] hashman commented on #170
主辦社群在這邊：https://github.com/MOPCON/MOPCON/issues/162#issuecomment-508902839

但是目前還沒索取圖片，圖片的欄位先留著，或是還有缺什麼你提醒我一下，我盡快去要

工作人員資料在這邊：https://drive.google.com/file/d/1vjYBoOcqhxOZr3CWxlrCdY-5P8VtHP7T/view

除了名單之外應該還有缺組別較少的詞

如果還有缺少其他東西你再幫我 comment 在這邊

謝謝

[2019-07-25 01:48] hashman opened #190 "協助確認各組介紹詞"
#170

目前資訊組正在著手進行主辦社群 / 工作人員頁面工作，需要麻煩組朋友提供給我各組的介紹詞

如果不知道要寫什麼可以參考 [去年的至工組織頁面](https://mopcon.org/2018/volunteer.php)

如果沒有 Github 帳號無法留言者，你可以選擇申請一個 Github 帳號或是直接於 Slack 中留言跟我說，我來幫你填寫

謝謝

[2019-07-25 01:50] bbandydd commented on #189
ok

[2019-07-25 06:23] chnbohwr commented on #189
ok

[2019-07-25 09:16] Zames-Chang commented on #189
ok

[2019-07-25 11:10] ghost commented on #189
ok

[2019-07-25 23:31] hashman commented on #189
Ok 謝謝

[2019-07-25 23:31] #189 closed

[2019-07-26 06:24] dada8397 commented on #190
場務組：場地之守護神，照料與會者的一切，為工人把屎把尿。場地的一切柴米油鹽醬醋茶都是我們負責。

[2019-07-27 06:30] hashman opened #191 "增加 Rollbar 監控"

[2019-07-27 11:22] hashman commented on #184
Done

[2019-07-27 11:22] #184 closed

[2019-07-27 11:22] hashman commented on #166
Done

[2019-07-27 11:22] #166 closed

[2019-07-28 12:54] kaojane opened #192 "規劃 / 製作APP首頁 API"
APP首頁設計稿
https://drive.google.com/file/d/17kYyc4U87ekQSHtxys1_DyBGmAtuOqi0/view?usp=sharing
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-29 00:14] #146 closed

[2019-07-29 00:16] hashman commented on #170
修改到 Sprint 7

[2019-07-29 00:20] hashman opened #193 "協助確認講師 / 贊助商 CMS Testing 環境測試狀況"
預計測試到 8/9 請 Jane 幫忙

[2019-07-29 00:23] hashman opened #194 "規劃與製作 APP Initial Config API"
目前我希望在 APP Initial 的時候可以先 call 這隻 API 這個 API 主要會回傳幾個東西

1. APP 可不可以使用大地遊戲，主要在這次大地遊戲的 API 會開在新的機群上面，所以活動結束後就會把機群關掉，為了不影響 APP 其他功能進行，所以會將大地遊戲的選項關閉
2. 各個 API Server 的 url ，這次可能不只是有 https://mopcon.org 的 api 還有大地遊戲 or 可能也會需要使用 CMS 的 API ，所以需要提供 config 讓 APP 知道什麼 API 該打到那個 url 上面
3. 提供語言檔？根據之前的討論 APP 上面所呈現的內容可能會由 API 來提供，這樣就不用因為修改 wording 而需要重新審查 code

如果 APP Team 的朋友有想到其他的內容可以隨時幫我補充

[2019-07-29 00:24] #112 closed

[2019-07-29 00:25] hashman commented on #171
這個請 Zames 處理，請 @kaojane 幫忙補充一些內容，謝謝

[2019-07-29 16:56] Sandra66628 commented on #190
公關組：可比喻為魔術師！為震撼觀眾的身心靈而努力。我們是一群什麼都要有梗，而且沒有梗，毋寧死的生物！

[2019-07-30 01:17] hashman commented on #190
財務組：錢跟收據的來來去去。

[2019-07-30 06:40] s1hon commented on #190
錄影組：為大家記錄講者講到口沫橫飛、會眾眼睛脫窗之間的起承轉合。好歹，之後我們能一邊拿出來膜拜或拿出來笑。

[2019-07-30 16:20] kaojane opened #196 "規劃 / 製作APP議程表 API"
APP議程表設計稿
全部議程
https://drive.google.com/open?id=1CMTixVv3LXkB9tUXO_gWnu6TZ2CqyhwK
我最想聽
https://drive.google.com/open?id=1I9GuQGePIE5cDBDN95ZSJaiZ86Q0LTpL
交流場次
https://drive.google.com/open?id=1UWw_6pml2dP33DJmkZE7blNxA5t6fMRC

(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:25] kaojane opened #197 "規劃 / 製作APP議程資訊 API"
APP議程資訊設計稿
https://drive.google.com/open?id=1QpPpszjMlN8sEX_VOXV4Orxnown48G2d
(若有更新以https://zpl.io/Vx6jDOx為主)

此外 Web 的部分也規劃完畢了，詳細可以參考 Zeplin

[2019-07-30 16:28] kaojane opened #198 "規劃 / 製作APP贊助商列表&贊助商資訊 API"
贊助商列表
https://drive.google.com/open?id=1JrI1eEo6cC0lRKRFq4aq-hPso9lEwxv8
贊助商資訊
https://drive.google.com/open?id=16pBlm_4-aiVeh8YFjiNjcclnWFmwrP1b

(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:30] kaojane opened #199 "規劃 / 製作APP最新消息 API"
最新消息設計稿
https://drive.google.com/open?id=1wohWwdkHdGTuh3Zqgzz-cyVfxzL6xjnd
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:32] kaojane opened #200 "規劃 / 製作APP講者列表&講者資訊 API"
講者列表
https://drive.google.com/open?id=15r1m8_SQPx9lTNVCACOLA1D-SeUavr1T
講者資訊
https://drive.google.com/open?id=1tQ3tO7hfshNUISAQSdq2A-E0zrQcNlED
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:34] kaojane opened #201 "規劃 / 製作APP主辦社群列表&主辦社群資訊 API"
主辦社群列表
https://drive.google.com/open?id=1TeSXYj8SVRD6JhS8_j0oZRHHI8yqrNFG
主辦社群資訊
https://drive.google.com/open?id=1rbqmTX4hnDFUJ3fVGu6tST-itVxRDMem
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:35] kaojane opened #202 "規劃 / 製作APP志工組織列表&志工組織資訊 API"
志工組織列表
https://drive.google.com/open?id=1WC9ZN22iHrDWEUw9-hTXQUtVNNFwgiSE
志工組織資訊
https://drive.google.com/open?id=1lKv9GiR8-1BrKb7dF9FcEitSqESC6DYZ
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-30 16:36] kaojane opened #203 "規劃 / 製作APP交流場次 API"
交流場次資訊
https://drive.google.com/open?id=1_kcrbveAp-IaOZtmuwXneyVGZ53QkoFc
(若有更新以https://zpl.io/Vx6jDOx為主)

[2019-07-31 00:09] hashman commented on #198
與 #171 重複囉，我將這個關閉

[2019-07-31 00:09] #198 closed

[2019-07-31 00:17] hashman commented on #201
與 #170 重複了，就把這個 issue 關閉

[2019-07-31 00:17] #201 closed

[2019-07-31 00:39] hashman commented on #203
目前這個需求確定了嗎？

[2019-07-31 00:39] hashman commented on #202
目前這個需求確定了嗎？

[2019-07-31 02:39] Wuchiwei commented on #194
這個需求是源自於我們的 API Server 會動態變動嗎？不然雖然有很多台不同的 server，只要不會動態變動，可以把 API 寫在 app 裡就好

[2019-07-31 13:28] RainrainWu commented on #190
贊助組：謝謝各位的支持！謝謝！謝謝！謝謝！

[2019-07-31 16:08] kaojane commented on #171
補充web版贊助商UI也已確認
https://drive.google.com/drive/folders/1cIW1YHqtsq4Mt--xZB1RaLsJsowqaSVT

[2019-07-31 16:26] kaojane commented on #202
確認的，不過發現應該跟這則重複 https://github.com/MOPCON/MOPCON/issues/170

[2019-07-31 16:30] kaojane commented on #203
https://mopcon.slack.com/archives/CJ0U8A0SW/p1564018502039800
我看之前討論串是說可用兩個入口的方式做
(一個合併於議程表，一個為單獨的交流場次)
若沒有其他的疑慮應該是可以照設計目前的規劃

[2019-07-31 23:05] hashman commented on #203
主要是目前 UI 上面的介面並未設計完成，所以會讓工程師不確定明確的需求而無法進行 API Spec 設計，我們可能需要等設計的 wireframe 出爐後才比較容易讓工程師進場

[2019-07-31 23:05] hashman commented on #202
#170 有安排工程師與設計師進行規劃了，這個 issue 就將他關閉

[2019-07-31 23:05] #202 closed

[2019-07-31 23:27] hashman commented on #171
這個好像不是最新的，我記得設計有一些微調，再麻煩 Jane 更新一下，謝謝

[2019-08-01 04:33] kaojane commented on #171
我拉了最新的下來
Web
https://drive.google.com/open?id=1yj8BWJHkMKBl-wfoN1zstJshKPh03Khr
Mobile
https://drive.google.com/open?id=1HXl3f3zdL5IFnn1PPMnRYrC6-mJQa9Vf
說明書
https://drive.google.com/open?id=1rDVkdlAA68IZQQFn-wbwEPq2kjvwsTga

[2019-08-01 06:01] hashman commented on #194
@Wuchiwei 原則上不會，但想說都已經有這個 API 的存在了，就一起提供， domain name 原則上講好了就是不會換，就算會換也會從 DNS 那邊下手，不會直接改 domain

[2019-08-02 12:32] kaojane commented on #203
@hashman  那我需要再問一次美術組andy目前是不是除大地遊戲以外頁面都final了嗎(因為我這邊也是抓他更新過的版本)?

[2019-08-02 15:02] hashman commented on #170
Mars 處理攤位活動頁面中，這個改請 @Tzuhui 幫忙處理

[2019-08-02 15:03] hashman commented on #203
麻煩你了，謝謝

[2019-08-03 10:20] kaojane commented on #203
跟設計師確認這個是final版了~
至於有一行"交流場次的文案顯示於此"，目前沒有文案的規劃，可以拿掉即可

[2019-08-03 14:26] Chung-Wei-Pan commented on #190
議程組：各場議程的守護神，致力於尋找各路大神，為的就是打造獨一無二的 MOPCON 宇宙！

[2019-08-04 01:50] hashman opened #205 "規劃 / 建立喜好議程 API"
過往這個 API 是使用 local memory 記錄，今年會結合會員系統，改為後端處理

[2019-08-06 03:32] hashman commented on #190
總召組：輔導長、喚醒師、撩癒姐、業務哥組成，完成各種推坑於無形的工作，讓混亂中建立優雅，在平實中製造刺激，使停留中促進前進，這就是本組的日常。

[2019-08-08 00:49] hashman commented on #190
美術組： MOPCON 門面就靠我們了！從網站、 APP 、紀念品等大大小小事情都包辦，組別有來自全台灣各式各樣的人才，一起共創每年新體驗～

[2019-08-08 03:44] klin0816 commented on #190
攝影組：把每一個珍貴的瞬間轉變成永遠！在 MOPCON 會議上拿著一台又一台大砲隨時備戰，看到我們記得微笑，這樣就會有美美的照片出現了哦！

[2019-08-08 12:58] kaojane commented on #200
與 https://github.com/MOPCON/MOPCON/issues/172 重複

[2019-08-08 12:58] #200 closed

[2019-08-08 12:59] kaojane commented on #172
更新UI

WEB版
https://drive.google.com/drive/u/2/folders/1BiDV-kD316JkjSqH0IdQuNDI_THh1g7P
APP
https://drive.google.com/open?id=15r1m8_SQPx9lTNVCACOLA1D-SeUavr1T
https://drive.google.com/open?id=1tQ3tO7hfshNUISAQSdq2A-E0zrQcNlED
(若有更新以https://zpl.io/Vx6jDOx為主)

web補充：
分享講者的按鈕點擊後為複製連結
tag的顏色目前是依照類型，技術類 → 藍色、設計類 → 綠色、其他 → 紅色

[2019-08-12 01:23] hashman commented on #193
這個麻煩 @kaojane 幫我 confirm 一下是否已經 ok 了，如果沒問題就把這個 issue 關閉，謝謝

[2019-08-12 01:34] #190 closed

[2019-08-12 01:35] hashman opened #210 "製作主辦社群 / 志工組織頁面"
針對 #170 所規劃出來的 API Spec 進行前端製作，麻煩葉子幫忙，謝謝

[2019-08-12 01:36] hashman opened #211 "製作贊助商頁面"
針對 #171 所規劃出來的 API Spec 進行製作，這邊麻煩 Mars 幫忙

[2019-08-12 01:37] hashman commented on #172
這個請 @Zames-Chang 幫忙處理，謝謝

[2019-08-12 01:38] hashman commented on #173
這個請 @FWcloud916 幫忙處理，謝謝

[2019-08-12 01:38] hashman commented on #173
Duplicate with #197

[2019-08-12 01:38] #173 closed

[2019-08-12 01:39] hashman commented on #197
這個請 @FWcloud916 幫忙處理，謝謝

[2019-08-12 01:40] hashman opened #212 "製作議程表頁面"
根據 #197 所規劃之 API Spec 進行製作，這邊麻煩葉子幫忙，預計這個工作時間比較常，所以應該會到 Sprint 9 才會結束，謝謝

[2019-08-12 01:42] hashman commented on #203
這個請 @Zames-Chang 幫忙處理，謝謝

[2019-08-12 01:43] hashman commented on #205
先前有跟中哥討論過，這個功能會牽扯到使用資料庫，所以今年會做在大地遊戲 Server 上面，這個請中哥支援一下這邊，但以大地遊戲 API 為高優先，謝謝

[2019-08-13 01:25] hashman commented on #212
根據昨天的討論，請 @Tzuhui @hsimao 兩位一起協力進行，希望可以達到 1+1 > 2 的成果，麻煩兩餵了，這個 Sprint 優先處理

[2019-08-13 01:27] hashman commented on #170
這個完成了，我就先關票了

[2019-08-13 01:27] #170 closed

[2019-08-15 01:12] #194 closed

[2019-08-15 01:14] hashman commented on #212
先請 @hsimao 獨自處理，等 @Tzuhui 那邊講師頁面弄好後再進場幫忙，謝謝

[2019-08-15 01:16] hashman commented on #172
這個比較趕，我來處理

[2019-08-15 01:17] #171 closed

[2019-08-15 01:18] hashman opened #220 "製作講師頁面"
麻煩依照 Zeplin 的設計進行實做 API 的部分在 #172 進行處理，會盡量在這個禮拜完成

[2019-08-17 12:33] hashman commented on #199
@kaojane 幫我確認一下這個最新消息跟 FB 的最新消息是一樣的東西嗎？

[2019-08-17 12:33] hashman commented on #199
如果依照去年的作法，去年是使用 google Sheet 來上資料

[2019-08-17 12:34] hashman commented on #199
這個我先 assign 給 @Zames-Chang ，原則上 MOPCON 的 API Server 不會使用資料庫當作 DB ，但是為了上消息方便，所以應該會比照去年一樣使用 Google Sheet 來處理，這塊可以參考一下去年的作法，有問題可以再跟我討論，謝謝

[2019-08-17 12:37] hashman commented on #192
這個 API 跟 #205 與 #199 有關，等候兩個 issue 處理完再處理這個

[2019-08-17 12:39] kaojane commented on #199
@hashman 這部分跟去年相同~

[2019-08-27 01:43] hashman commented on #192
這個請 @FWcloud916 幫忙，一樣這個禮拜五之前先產出 API Document 進行討論，這邊麻煩幫忙了，謝謝

[2019-09-02 12:38] hashman opened #250 "製作售票頁面"
設計圖的部分美術那邊都已經完成了，這邊再請工程師幫忙
此外也請 @kaojane 這邊協助確認英文文案的部分
這個比較趕預計本週日 9/8 前完成

[2019-09-05 06:56] hashman commented on #172
這個結束了

[2019-09-05 06:56] #172 closed

[2019-09-05 06:57] hashman commented on #191
Rollbar 有推上去了

[2019-09-05 06:57] #191 closed

[2019-09-05 06:58] hashman commented on #139
未來可能會傾向走 Docker 化的方式，主機升級的部分就不考慮了，維護上也會簡單許多

[2019-09-05 06:58] #139 closed

[2019-09-05 06:59] hashman opened #256 "優化 Facebook API 速度"
目前有兩個方向可以處理

1. 減少預設取得的筆數
2. 增加 Redis Cache 可能是 5 分鐘的 cache 或是 10 分鐘都可以

[2019-09-08 09:37] #250 closed

[2019-09-08 09:37] #220 closed

[2019-09-08 09:38] #212 closed

[2019-09-08 09:38] #192 closed

[2019-09-08 09:43] hashman commented on #196
這個完成了

[2019-09-08 09:43] #196 closed

[2019-09-08 09:44] hashman commented on #197
這個都完成了

[2019-09-08 09:44] #197 closed

[2019-09-08 09:45] hashman commented on #199
這邊剩下要將他改接 Google Sheet 才完成，延到下個 Sprint

[2019-09-08 09:48] hashman commented on #203
這個完成了

[2019-09-08 09:48] #203 closed

[2019-09-08 12:12] kaojane commented on #193
web這邊我好像沒有權限~不過是可以關閉了沒錯

[2019-09-09 01:53] #193 closed

[2019-09-11 03:31] mosquitojoe85 commented on #162
不好意思，我補一下主辦社群的議程委員部分，

- 高雄前端社群：廖洧杰
- PyTorch Kaohsiung：Terence Huang

[2019-09-11 03:34] hashman commented on #162
HI 你好，不好意思看帳號不知道是哪位，能否自我介紹一下呢？另外是主辦社群的規範麻煩可以參考上方之規定辦法唷

[2019-09-11 03:40] mosquitojoe85 commented on #162
喔喔，我是 Brook。

[2019-09-11 03:52] mosquitojoe85 opened #287 "修改主辦社群頁面的志工名稱"
想把志工團隊區塊裡議程組的余玟霈改為 Brook。

[2019-09-11 03:53] #287 closed

[2019-09-11 03:53] hashman commented on #287
先修正了，晚點跟車一起出去

[2019-09-26 04:16] hashman commented on #256
有加上 Cache 了，先關票

[2019-09-26 04:16] #256 closed

[2019-09-26 04:16] hashman commented on #211
完成

[2019-09-26 04:16] #211 closed

[2019-09-26 04:16] #210 closed

[2019-09-26 04:16] #205 closed

[2019-09-26 04:16] #199 closed

[2019-09-26 04:20] hashman opened #308 "調整 Home API 測試"
於 #307 已經有 home api 的問題修正了，但是這邊的測試有點問題，雖說可以綠色通過，主要可以通過的原因是這樣

因為 travis 上面，沒有設定 Google Sheet 相關的 env ，所以會導致抓到的 api 資料是一個 html ，抓到的 html 過 `json_decode` function 後的內容是 null ，最後會拿到 empty array 所以以結果來說，沒有錯，但這個過程不是我們要的，他還是實際上打了 Google Sheet 的 api ，測試應該要將這個相依性移除

[2019-09-26 04:29] hashman opened #309 "麻煩協助其他的 API 也增加上 json schema Validator"
細節可以參考這個

https://github.com/MOPCON/MOPCON/blob/develop/api/tests/app/Http/Controllers/SpeakerControllerTest.php

[2019-09-29 12:48] puckwang opened #314 "修改主辦社群頁面的志工名稱"
目前官網上的主辦社群頁面中，有部分志工為真實姓名，是否應該有填暱稱的優先使用暱稱比較好？

[2019-09-29 13:00] hashman commented on #314
請 @Zames-Chang 幫忙處理，資料在 [這邊](https://docs.google.com/spreadsheets/d/1NsSLPhtnD77-5B1TIEidsSq4QeYoeevnSR8O9fNi6r4/edit#gid=0) 如果有暱稱就以暱稱為主

[2019-09-30 09:54] hashman opened #317 "[Bug] 修正議程表贊助商議程呈現方式"
目前有兩個問題需要修正

1. 於議程表列表上可以直接看到「夥伴議程」的 tag
2. 點擊詳細議程，如果是贊助商議程應該要可以看到贊助商的資訊，並且可以連結到贊助商頁面

這邊請前端幫忙，謝謝

[2019-09-30 13:16] hashman commented on #314
修正上去了

[2019-09-30 14:22] #314 closed

[2019-10-03 07:40] zaoldyeck opened #323 "官網 by 用戶帶 utm 參數至 KKTIX 一般售票頁面"
## 優先度
**重要** 且 **緊急**

## 需求情境
1. 目前已售出 426 張票（10/3），起碼還要售出 >200 張票才會符合我們與贊助商的期望
2. 接下來會用廣告投放的方式來催票

## 廣告投放的用戶體驗流程
1. 用戶在 FB 看到廣告
2. 點擊廣告內容
3. 進入 MOPCON 官網[首頁](https://mopcon.org/2019/ )
4. 點選網站中的購票按鈕
5. 進入 KKTIX [一般票](https://kktix.com/events/2019registernormal/registrations/new)購票頁面
6. 選擇票種
7. 購票

## 目前問題
1. 廣告會需要優化，優化就會需要知道每一則文案的績效
2. 知道文案績效的方法，就是用 [utm 參數](https://www.awoo.com.tw/blog/utm/)做

[2019-10-03 16:22] Tzuhui commented on #323
@zaoldyeck 想問一下～
是否需要把參數存起來，在換頁之後還會記錄著 utm，並帶到購票的 url 中？
還是只要換頁後就不記錄？

[2019-10-03 16:48] zaoldyeck commented on #323
是的，在官網換頁仍要記住，可以不顯示在網址上，但一旦連到 KKTIX 時就要把 utm 參數帶入網址。

[2019-10-07 10:10] Chung-Wei-Pan opened #334 "Session、Unconf 議程上架"
Session：
國泰金控贊助夥伴(詳見 CMS)
Unconf：
時間:Day 1 17:00~17:30
Topic: Py 車達人
講者: Malo

[2019-10-07 11:24] hashman commented on #334
麻煩 @FWcloud916 幫忙，謝謝

[2019-10-15 02:39] #334 closed

[2019-10-15 02:39] #323 closed

[2019-10-15 02:39] #317 closed

[2019-10-15 02:39] #308 closed

[2019-11-03 09:04] hashman opened #358 "麻煩協助進行以下修改"
## 首頁調整

https://mopcon.org/2019

1. 調整首頁最下方「 2018 影片回顧」幫忙改為「 2019 影片回顧」並且修改連結為 https://www.youtube.com/playlist?list=PL0ny0trU2gnCzF7YZgXzwyj5dpQFp740U
2. 在官網頁面 header 上面「共筆文件」旁邊增加一個「歷年相簿」並且將連結指向到 http://mopcon.hashman.tw/album.php#mp2019 ps. 這個區塊也要另外增加上去

## 以下是歷年相簿的部分

https://mopcon.org/album.php

1. 增加跑馬燈 2019 封面，封面圖可以使用[這張](https://photos.google.com/u/3/share/AF1QipNqoPDId3OnW9Le8tL1Fdo0FtlE

[2019-11-03 09:24] polinahuang commented on #358
Day1 封面圖可用[這張](https://photos.google.com/share/AF1QipPVqw3Pe8csNua-a_4jJF42-GxNAR05krwTtiGv3YgQnlqcWBgrTGSjW4sCBbK7EA/photo/AF1QipMtKbbTAHpYmjgRVSI14UHHUE5zSqqxklIIyhPu?key=NlNjU1VETTc1cGNjU1hJVlVEdHhxVkNJemlrQUJn)
Day1 醞釀之夜封面圖可用[這張](https://photos.google.com/share/AF1QipN_nY_w-XZtRPUs1SHWiIIrEOthR_pETs_7JRYoHBi6bYt6eoXjjj_N9tMIidQAIA/photo/AF1QipNhynNHFmjkngq_LDjM8hZEzO2YEMAG0xdxFe69?key=M0p0TmYx

[2019-11-04 01:44] hashman commented on #358
@polinahuang 感謝推薦，我補上描述了

[2020-07-29 01:52] FWcloud916 opened #381 "facebook API"
調整  API 架構
調整 facebook API 貼文連結
建立 2020 facebook API

[2020-07-30 16:30] #381 closed

[2020-08-09 17:15] Tzuhui opened #386 "講者頁面"
設計稿：
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/dashboard

[2020-08-09 17:15] Tzuhui opened #387 "社群頁面"
設計稿：
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/dashboard

[2020-08-10 01:26] FWcloud916 opened #388 "講者頁面 API"
#386

可以將 2019 年的講者 API 邏輯抽出來，在建立 2020 講者 API

設計稿：
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/dashboard

[2020-08-10 01:28] FWcloud916 opened #389 "社群頁面 API"
#387

可以將 2019 年的社群 API 邏輯抽出來，在建立 2020 社群 API

設計稿：
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/dashboard

[2020-08-10 01:31] FWcloud916 commented on #388
請 @unciax  幫忙

[2020-08-10 01:32] FWcloud916 commented on #389
請 @a8264347 幫忙

[2020-08-10 01:37] FWcloud916 opened #390 "[App Engine] 測試將官網放上 App Engine"
需調整官網架構
 - 調整 index

[2020-08-10 14:21] unciax commented on #388
有幾個問題想要確定一下：
1. 今年的 tag 是不是只有單一色彩? (設計稿上目前有兩種版本XD)
2. 不同年份的 json 檔會如何存放?

[2020-08-10 15:11] FWcloud916 commented on #388
1. 我去問問
2. /api/resource/assets/json/ 一樣改分 2019/2020 ， 圖片也是

麻煩先幫我分好了XD
還是有其他想法也可以討論

[2020-08-11 15:42] unciax commented on #388
如果資料來源改為 `/api/resource/assets/json/2019/` 跟 `/api/resource/assets/json/2020/`
這部分會需要動 Controller 取資料路徑的邏輯
由於大部分的 Controller 都是繼承這隻，修改後影響的層面滿廣的
這部分是不是應該要先把測試案例補齊全一點再修改會比較安心呢? 還是目前的時程沒有那麼充裕?

剛剛試著改一次之後發現測試幾乎全死光了XDD

[2020-08-12 12:28] unciax commented on #388
所以路徑應該會變成 `/api/resource/assets/json/2019` 及 `/api/resource/assets/json/2020` ?

如果是這樣我想分幾段處理好了
1. 先改 json 的路徑，並調整 Controller 讓 2019 的 api 可以正常運作
2. 調整 images 的路徑及相關程式
3. 將講者共通的邏輯抽成共用

[2020-08-12 12:51] FWcloud916 commented on #388
對

好喔 麻煩你了!

[2020-08-12 15:50] unciax commented on #388
目前的想法 Controller 可能可以改成這樣

- Controllers
    - Year2019
        - {2019 自己的 Controllers，裡面可能就放一個 year 變數且繼承 Base Function Controller}
    - { Base Function Controllers (AppHome, Session, Speaker...) }
    - ApiTrait.php
    - Controller.php
    - FacebookController.php

不知道 @FWcloud916 跟 @a8264347 這邊的想法是?

[2020-08-13 00:20] hashman commented on #388
可以嘗試這樣進行，但記得 main goal 是不要調整到原本的 route 要確保舊的 client 在 access 這些 API 都是正常的，這個調整會比較辛苦一點，在麻煩 @unciax 幫忙， code review 的時候我也一起幫忙，謝謝

[2020-08-13 12:40] a8264347 commented on #388
拍謝 最近公司比較忙! 現在正在看!

[2020-08-14 01:22] FWcloud916 commented on #388
我覺得沒有問題

[2020-08-15 15:30] unciax commented on #388
@hashman  想確定一下現在有哪些 client 會使用到這組 API?

另外有個想法是：
route 增加兩組 prefix `latest` 及 `2020` ，有點類似其他系統的 api 設計
這樣子官網可以直接用 `2020` (\api\2020\speaker)
APP (推測有用?) 可以直接用 `latest` (\api\latest\speaker)

不知道這樣可不可行?

[2020-08-16 04:48] FWcloud916 commented on #388
@unciax 目前會用的是 App 跟 官網
兩邊用的是一樣的 api 應該不用在分 `latest`

[2020-08-16 11:13] hashman commented on #388
通常 API 的設計還是要保留原本網址的設計，像是 v1 v2 這樣的設計方式， 2019 這個目錄目前官網跟 App 都有在用 2019 的官網也會持續的抓取 2019 的 prefix route ，所以這個 route 是不會拿掉的，個人持跟方威一樣的想法

有問題可以再討論

[2020-08-16 12:49] unciax commented on #388
hmm... 感覺兩位有點誤會我的意思

1. 2019 這個 prefix 沒有要拿掉，因為 2019 的官網仍會使用
2. 2020 跟 latest 指向的都是 2020 ，新增 latest 的用意在於 App 不用每年去改 api url (我看 iOS 版是直接寫死，Android 看起來是用環境變數)
3. 官網不用 latest 的原因在於 code 本身就是以年份分別去管理的

整體下來 Api Server 的 route 應該會像下面這樣

- /api
    - latest (for 官網，以系統年度顯示，同 2020)
    - 2020 (for App)
    - 2019

[2020-08-16 12:58] a8264347 commented on #388
嗨嗨 昨天看完卡司的code 跟 想法 剛好有去找 mutiple prefix 的議題

配合卡司的想法把今年App 走的 routes直接寫在 latest /2020 prefix 底下?

https://stackoverflow.com/questions/45809006/multiple-prefix-with-the-same-route-group/45809095

[2020-08-16 13:31] hashman commented on #388
這種作法可能會有個問題，每年的 API Response 不一定會相同，所以等於說如果今天新的 API latest Response 改了結構，舊的 Client APP 沒有套用最新的程式，卻是抓取最新的 API Response 這樣可能就會照成問題，所以比較保險的做法還是需要將設定該 APP 可以套用的 API Response uri 來進行使用，這樣舊版的 Client 還是可以正常運作，然後新版的就依照新的規格下去跑，實務上公司也大多都會用這樣的方式來維護 API ，確保舊 APP 的可用性

當然我們也是可以考慮強更（強制更新），確保每個 APP 都一定是最新的，這樣就可以不用管舊 APP 了，這個也是一個作法，在 MOPCON 的使用情境開強更是可以接受的

[2020-08-25 14:44] FWcloud916 opened #399 "APP 首頁 API"
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f2af9159fabde894b25124a

[2020-08-25 14:45] FWcloud916 opened #400 "主要議程 Api"
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f2af916717d133bc75f1264

Web : 還沒出來

一樣先抓出共同的，做成跟 2019 一樣

[2020-08-28 01:43] #386 closed

[2020-08-28 01:54] FWcloud916 opened #401 "交流議程 API"
APP :
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f2af917fa5fbb28f4ab1c59

Web : 還沒出來

一樣先抓出共同的，做成跟 2019 一樣

[2020-08-28 02:00] FWcloud916 opened #402 "贊助商 API"
APP :
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f2b5519b3ab723eb8dd62ec
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f2b551a652df92737592094

Web
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f44ed93736b363b10d096de
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/screen/5f44ed941d33353401912806

一樣先抽出共同的，做成跟 2019 一樣

[2020-08-28 02:22] Tzuhui opened #403 "售票頁面"
售票頁面開發
設計稿：
https://app.zeplin.io/project/5ed9b2c3ffea64b7a95e91cc/dashboard?tag=Ticket

[2020-08-28 02:23] Tzuhui opened #404 "贊助商頁面"
贊助商頁面開發
設計稿：
https://zpl.io/aXBqzv8

[2020-09-07 01:20] Tzuhui opened #411 "主要議程頁面"

[2020-09-07 01:20] Tzuhui opened #412 "交流議程頁面"

[2020-09-19 07:55] #403 closed

[2020-09-19 07:55] #387 closed

[2020-09-19 07:56] Tzuhui opened #425 "講者頁面 Modal 顯示異常"
操作與狀況描述：
當複製講者連結，用 `/2020/speaker/18` 進入後
關閉 Modal 後，點選其他 speaker，Modal 資料都為 id 18 的那一位

再請 @jedy05097952 幫忙處理，感謝

[2020-09-19 09:13] hiro05097952 commented on #425
fixed:
https://github.com/MOPCON/MOPCON/pull/426

[2020-09-19 10:11] #425 closed

[2020-10-04 12:38] #402 closed

[2020-10-04 12:38] #401 closed

[2020-10-04 12:39] #400 closed

[2020-10-04 12:39] #399 closed

[2020-10-04 12:40] #389 closed

[2020-10-04 12:40] #388 closed

[2020-10-04 12:45] FWcloud916 opened #451 "電子看板 API"
協助新增 2020 的電子看板 API

麻煩 @unciax

[2020-10-04 14:10] #412 closed

[2020-10-04 14:10] #411 closed

[2020-10-04 14:10] #404 closed

[2020-10-06 15:57] FWcloud916 opened #454 "更新 json"
- [x]  更新講者
- [x]  更新贊助商
- [x]  更新主要議程
- [x]  更新交流議程

[2020-10-12 03:22] #451 closed

[2020-10-23 15:14] #454 closed

[2021-08-08 06:10] Tzuhui opened #530 "2021 官網 志工社群頁面"
[設計稿](https://www.figma.com/file/mhMiac1Rn6ytJMLY6Bdvy4/%E5%AE%98%E7%B6%B2-UI-%E8%A8%AD%E8%A8%88%26%E6%A0%A1%E7%A8%BF-(Official-Site)?node-id=1633%3A15909)

[2021-08-08 06:10] Tzuhui opened #531 "2021 官網 售票頁面"
[設計稿](https://www.figma.com/file/mhMiac1Rn6ytJMLY6Bdvy4/%E5%AE%98%E7%B6%B2-UI-%E8%A8%AD%E8%A8%88%26%E6%A0%A1%E7%A8%BF-(Official-Site)?node-id=1633%3A6968)

[2021-08-08 06:13] Tzuhui opened #532 "2021 官網 調整 assets 結構"
1. 圖片都放到 images 資料夾
2. _buttons 移動到 styles 下，建立 components 資料夾

[2021-08-09 13:11] #532 closed

[2021-08-28 08:31] #531 closed

[2021-08-28 08:31] #530 closed

[2021-08-28 08:34] Tzuhui opened #546 "2021 講者頁面"
[設計稿](https://www.figma.com/file/mhMiac1Rn6ytJMLY6Bdvy4/%E5%AE%98%E7%B6%B2-UI-%E8%A8%AD%E8%A8%88%26%E6%A0%A1%E7%A8%BF-(Official-Site)?node-id=1440%3A3522)
[素材連結](https://drive.google.com/drive/u/2/folders/1FlUdoJW67FU9t1UYiNun_IMglqx64yqO)

[2021-09-01 14:59] Tzuhui opened #549 "2021 贊助商頁面"
[figma 設計稿](https://www.figma.com/file/mhMiac1Rn6ytJMLY6Bdvy4/%E5%AE%98%E7%B6%B2-UI-%E8%A8%AD%E8%A8%88%26%E6%A0%A1%E7%A8%BF-(Official-Site)?node-id=2442%3A7194)

[素材](https://drive.google.com/drive/u/2/folders/1u6zlfFqAqLDWDWZ1thcMhkM5VgyTSRZk)

[2021-10-09 02:33] #546 closed

[2021-10-09 02:34] #549 closed

[2021-10-09 02:36] Tzuhui opened #574 "MO 娘頁面"
[設計稿](https://www.figma.com/file/mhMiac1Rn6ytJMLY6Bdvy4/%E5%AE%98%E7%B6%B2-UI-%E8%A8%AD%E8%A8%88%26%E6%A0%A1%E7%A8%BF-(Official-Site)?node-id=3632%3A20092)
[素材](https://drive.google.com/drive/u/2/folders/1LwID82evESgHHdG-XNXnG_0cP5Rv2Q8m)

[2022-04-21 12:56] keith222 opened #591 "[2022-Feature] 官網添加 2022 活動訊息視窗"
官網添加 2022 活動訊息視窗

[2022-04-24 14:55] #591 closed

[2022-06-07 12:17] keith222 opened #594 "更新最新消息 API"
將原本最新消息 API 所用之 Google Sheet API 從 v3 升級至 v4

[2022-06-15 15:05] keith222 opened #598 "更新相簿連結位址"
更新以下兩個網頁中的相簿超連結位址
https://mopcon.org/album.php#mp2020
https://mopcon.org/2021/timeMachine

[2022-07-13 15:08] #598 closed

[2022-07-13 15:12] keith222 opened #602 "MOPCON 2022 官方網站首頁與共用樣式"
製作今年官網首頁及共用樣式
[素材](https://drive.google.com/drive/u/0/folders/1wsr2ap0Uu3clzOz2lfcF0-nhuKvpRj6O)
[設計樣式](https://www.figma.com/file/ANpUsKjeguehMJdzXwo8vU/%E5%AE%98%E7%B6%B2?node-id=155%3A3206)

[2022-07-13 15:14] keith222 opened #603 "MOPCON 2022 官方網站時光機"
製作 MOPCON 2022 官方網站時光機
[素材](https://drive.google.com/drive/u/0/folders/1wsr2ap0Uu3clzOz2lfcF0-nhuKvpRj6O)
[設計樣式](https://www.figma.com/file/ANpUsKjeguehMJdzXwo8vU/%E5%AE%98%E7%B6%B2?node-id=155%3A3206)

[2022-08-13 10:40] Chi-Chi-Chi-Chita opened #614 "主要議程頁面"

[2022-08-24 04:37] Chi-Chi-Chi-Chita opened #622 "MOPCON 2022 官方網站交流議程"

[2022-08-25 17:40] Chi-Chi-Chi-Chita opened #628 "MOPCON 2022 社群工作坊"

[2022-09-16 07:30] Chi-Chi-Chi-Chita opened #692 "MOPCON 2022 參與社群"

[2022-10-06 00:19] Chi-Chi-Chi-Chita opened #735 "MOPCON 2022 問卷調查"

[2022-10-06 12:19] #692 closed

[2022-10-06 12:19] #628 closed

[2022-10-06 12:19] #603 closed

[2022-10-06 12:20] #622 closed

[2022-10-06 12:20] #602 closed